.button {
  height: 107px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 53px;
  text-transform: uppercase;
  color: $color-black;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.1em;
  border: none;
}
