.cover {
  position: relative;
  margin: 0 auto;
  // max-width: 1920px;
  width: 100%;
  padding: 302px 0 172px;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #feeded;
  --clr-2: #ffc9c9;
  --clr-3: #b0e0ff;
  --clr-4: #b0e0ff;
  --clr-5: #a1e7d9;
  --clr-6: #d8fff7;
}

.gradient {
  // position: absolute;
  // width: 100vw;
  // height: 100vh;
  background: transparent;
}

.gradient::before,
.gradient::after {
  content: "";
  position: absolute;
  inset: 0rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-6)
  );
  border-radius: inherit;
  animation: rotation 10s linear infinite;
}

.gradient::after {
  filter: blur(3.8rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.cover__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.cover__left-side {
  width: 50%;
  height: 100%;
  z-index: 3;
}

.cover__over-title {
  width: 578px;
  // padding-top: 338px;
  font-weight: 500;
  font-size: 20px;
  line-height: 179.5%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $color-black;
  margin-bottom: 1rem;
}

.cover__title {
  width: 796px;
  padding: 0 0 30px 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-black;
}

.cover__subtitle {
  width: 718px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: $color-black;
}

.cover__button {
  z-index: 1;
  width: 452px;
  margin-top: 34px;
  background: $color-pinkdark;
  &:focus {
    @include btn-focus($color-pinkdark);
  }
  &:hover {
    background-color: $color-pinklight;
    @include btn-hover;
  }
}

.cover__pic {
  position: absolute;
  left: 39%;
  bottom: 0;
  z-index: 2;
  bottom: 0;
}

.cover__pic img {
  width: 100vw;
  height: auto;
  display: block;
}
@media only screen and (min-width: 1920px) {
  .cover__pic img {
    max-width: 1136px;
  }
}

@media only screen and (max-width: 1920px) {
  .cover__pic img {
    max-width: 1136px;
  }
}

@media only screen and (max-width: 1280px) {
  .cover__pic img {
    max-width: 717px;
  }
}

@media only screen and (max-width: 768px) {
  .cover__pic img {
    max-width: 430px;
  }
}

@media only screen and (max-width: 480px) {
  .cover__pic img {
    max-width: 268px;
  }
}

.cover__right-circles {
  position: absolute;
  right: 0;
  bottom: 0;
}

.cover__left-circles {
  position: absolute;
  left: 0;
  top: 10%;
}

.cover__arrows {
  position: absolute;
  left: 90%;
  top: 16%;
}

.cover__star_1 {
  position: absolute;
  left: 48.5%;
  top: 59%;
}
.cover__star_2 {
  position: absolute;
  left: 78%;
  top: 23%;
}
.cover__star_3 {
  position: absolute;
  left: 86%;
  top: 55%;
}

.cover__present {
  position: absolute;
  z-index: 1;
  left: 82%;
  top: 28%;
}
