.cover {
  position: relative;
  min-height: 1070px;
  width: 100%;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #feeded;
  --clr-2: #ffc9c9;
  --clr-3: #b0e0ff;
  --clr-4: #b0e0ff;
  --clr-5: #a1e7d9;
  --clr-6: #d8fff7;
}

.card {
  height: 1070px;
  width: 100vw;
  background: transparent;
  position: relative;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-6)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.card::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.cover__wrapper {
  display: flex;
  flex-direction: row;
}

.cover__left-side {
  width: 748px;
  height: 100vh;
}

.cover__over-title {
  width: 578px;
  height: 86px;
  padding-top: 290px;
  font-weight: 600;
  font-size: 24px;
  line-height: 179.5%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $color-black;
}

/* Получи онлайн-консультации психолога Рины Рамзаевой */

.cover__title {
  width: 796px;
  height: 245;
  padding: 30px 0px;
  font-weight: 500;
  font-size: 42px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-black;
}

.cover__subtitle {
width: 718px;
height: 76px;
font-weight: 400;
font-size: 23px;
line-height: 150%;
letter-spacing: 0.1em;
color: $color-black;
}

.cover__button {
width: 684px;
margin-top: 60px;
background: $color-pinkdark;
}