.cover {
  position: relative;
  margin: 0 auto;
  width: 100%;
  // padding: 302px 0 172px;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #feeded;
  --clr-2: #ffc9c9;
  --clr-3: #b0e0ff;
  --clr-4: #b0e0ff;
  --clr-5: #a1e7d9;
  --clr-6: #d8fff7;
}

.gradient {
  background: transparent;
}

.gradient::before,
.gradient::after {
  content: "";
  position: absolute;
  inset: 0rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-6)
  );
  border-radius: inherit;
  animation: rotation 10s linear infinite;
}

.gradient::after {
  filter: blur(3.8rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.cover__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.cover__left-side {
  width: 50%;
  height: 100%;
  z-index: 3;
  padding: 250px 0 172px;
}

.cover__over-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 179.5%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $color-black;
  margin-bottom: 1rem;
}

.cover__title {
  max-width: 685px;
  width: 100%;
  padding: 0 0 30px 0;
  line-height: 150%;
  letter-spacing: 0.1em;
}

.cover__subtitle {
  max-width: 386px;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: $color-black;
}

.cover__button {
  z-index: 1;
  width: 515px;
  margin-top: 34px;
  background: $color-pinkdark;
  &:focus {
    @include btn-focus($color-pinkdark);
  }
  &:hover {
    background-color: $color-pinklight;
    @include btn-hover;
  }
}

.cover__pic {
  position: absolute;
  left: 39%;
  bottom: 0;
  z-index: 3;
}

.cover__pic img {
  width: 100%;
  height: auto;
  display: block;
}


// @media only screen and (max-width: 1280px) {
//   .cover__pic img {
//     max-width: 717px;
//   }
// }

// @media only screen and (max-width: 768px) {
//   .cover__pic img {
//     max-width: 430px;
//   }
// }

// @media only screen and (max-width: 480px) {
//   .cover__pic img {
//     max-width: 268px;
//   }
// }

.cover__right-circles {
  position: absolute;
  right: 0;
  bottom: 0;
}

.cover__left-circles {
  position: absolute;
  left: 0;
  top: 10%;
}

.cover__arrows {
  position: absolute;
  left: 90%;
  top: 16%;
}

.cover__star_1 {
  position: absolute;
  left: 48.5%;
  top: 59%;
}
.cover__star_2 {
  position: absolute;
  left: 78%;
  top: 23%;
}
.cover__star_3 {
  position: absolute;
  left: 86%;
  top: 55%;
}

.cover__present {
  position: absolute;
  z-index: 1;
  left: 82%;
  top: 28%;
}


@media all and (min-width: 1440px) and ( max-width: 1919px ) {
  .cover__left-side {
    padding: 217px 0 106px;
  }
  .cover__over-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .cover__title {
    font-size: 33px;
    padding: 0 0 11px 0;
  }
  .cover__subtitle {
    font-size: 18px;
    max-width: 348px;
  }
  .cover__button {
    width: 387px;
    margin-top: 30px;
  }
  .cover__pic img {
    max-width: 825px;
    width: 100%;
    max-height: 800px;
    height: 100%;
  }
  .cover__left-circles {
    max-height: 540px;
    height: 100%;
    max-width: 110px;
    width: 100%;
  }

  .cover__right-circles {
    max-width: 792px;
    width: 100%;
    max-height: 613.5px;
    height: 100%;
  }

  .cover__present {
    max-width: 120px;
    width: 100%;
    max-height: 120px;
    height: 100%;
  }

  .cover__arrows {
    max-width: 55.2px;
    width: 100%;
    max-height: 110px;
    height: 100%;
  }
}

@media all and (min-width: 768px) and ( max-width: 1439px ) {
  .cover__left-side {
    padding: 94px 0 44px;
    max-width: 608px;
    width: 100%;
  }
  .cover__over-title {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .cover__title {
    font-size: 26px;
    padding: 0 0 7px 0;
  }
  .cover__subtitle {
    font-size: 16px;
    max-width: 608px;
  }
  .cover__button {
    width: 347px;
    margin-top: 19px;
  }
  .cover__pic img {
    display: none;
  }
  .cover__left-circles {
    max-height: 290px;
    height: 100%;
    max-width: 59px;
    width: 100%;
  }

  .cover__right-circles {
    max-width: 423px;
    width: 100%;
    max-height: 327px;
    height: 100%;
  }

  .cover__star_1 {
    left: 70%;
    top: 79%;
}
  .cover__star_2 {
    left: 70%;
    top: 33%;
}

.cover__star_3 {
  left: 91%;
}
  .cover__present {
    max-width: 86px;
    left: 78%;
  }

  .cover__arrows {
    max-width: 29.44px;
    width: 100%;
    max-height: 58.59px;
    height: 100%;
  }
}