.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 1395px;
  background: linear-gradient(180deg, #d9f0ff 0%, #ffdada 54.17%);
}

.education__aside {
  position: absolute;
  left: -43px;
}

.education__aside-span {
  position: relative;
}

.education__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.education__title-block {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  
  position: relative; 
  margin: 220px 0px 158px 0px;
  width: 722px;
  height: 152px;
 }

 .education__title-hr {
  width: 282px;
  color: $color-black;
  background-color: $color-black;
  margin: 30px 0px 40px 0px;
  height: 2px;
  border: none;

 }

 .education__subtitle {
font-weight: 500;
font-size: 21px;
line-height: 26px;
text-align: center;
color: $color-black;
 }


 .education__pic-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 25px;

  margin-bottom: 135px;
}

.gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

// _______________________________для увеличения

.education__pic-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.education__pic {
  width: 100%;
  transition: transform 0.25s ease;
}

.education__pic:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2);
  filter: none;
  z-index: 1000;
}

.education__button {
  background-color: $color-green;
  width: 667px;
}
.education__button:hover {
  background-color: $color-bluelight;
}
