@mixin aside-before {
  position: absolute;
  content: "";
  left: -70px;
  top: -25px;
  width: 2px;
  height: 80px;
  background-color: $color-black;
  transform: translateX(-50%) rotate(-90deg);

  @media (max-width: 1440px) {
    top: -28px;
  }
  @media (max-width: 768px) {
    width: 1px;
    top: -33px;
  }
}

@mixin aside-after {
  position: absolute;
  content: "";
  right: -70px;
  top: -25px;
  width: 2px;
  height: 80px;
  background-color: $color-black;
  transform: translateX(-50%) rotate(-90deg);

  @media (max-width: 1440px) {
    top: -28px;
  }
  @media (max-width: 768px) {
    width: 1px;
    top: -33px;
  }
}

@mixin hr($width, $margin) {
  max-width: $width;
  margin: $margin;
  background-color: $color-black;
  height: 2px;
  border: none;

  @media (max-width: 768px) {
    height: 1px;
  }
}

@mixin btn-focus($color) {
  outline: 3px solid $color;
  box-shadow: 0 0 4px 3px $color;
  outline-offset: 7px;
}
@mixin btn-hover() {
  outline: none;
  outline-offset: 0;
}
