@mixin aside-before {
  position: absolute;
  content: "";
  background-color: $color-black;
  transform: translateX(-50%) rotate(-90deg);

  @media all and (min-width: 1440px) and (max-width: 1919px) {
    top: -24px;
    height: 70px;
  }
  @media all and (min-width: 768px) and (max-width: 1439px)  {
    width: 1px;
    top: -24px;
    height: 60px;
  }
}

@mixin aside-after {
  position: absolute;
  content: "";
  background-color: $color-black;
  transform: translateX(-50%) rotate(-90deg);

  @media (max-width: 1440px) {
    top: -24px;
    height: 70px;
  }
  @media (max-width: 768px) {
    width: 1px;
    top: -24px;
    height: 60px;
  }
}

@mixin hr($width, $margin) {
  width: $width;
  margin: $margin;
  background-color: $color-black;
  height: 2px;
  border: none;

  @media (max-width: 768px) {
    height: 1px;
  }
}

@mixin btn-focus($color) {
  outline: 3px solid $color;
  box-shadow: 0 0 4px 3px $color;
  outline-offset: 7px;
}
@mixin btn-hover() {
  outline: none;
  outline-offset: 0;
}
