// width Миксин max-width 
@mixin r($width) {
  @media only screen and (max-width: ($width + "px")) {
    @content;
  }
}

//------Миксин min-width 

@mixin rmin($width) {
  @media only screen and (min-width: ($width + "px")) {
    @content;
  }
}

//------Адаптив для max-width 1919px_______(по макету на 1440px)

@mixin lg {
  @include r(1919) {
    @content;
  }
}

//------Адаптив для min-width 1919.1px

@mixin lg-up {
  @include rmin(1919.1) {
    @content;
  }
}

//------Адаптив для max-width 1439px_______(по макету на 768px)

@mixin md {
  @include r(1439) {
    @content;
  }
}

//------Адаптив для min-width 1439.1px (по макету на 1440px)

@mixin md-up {
  @include rmin(1439.1) {
    @content;
  }
}

//------Адаптив для max-width 767px_______(по макету на 428px)

@mixin sm {
  @include r(767) {
    @content;
  }
}

//------Адаптив для min-width 767.1px (по макету на 768px)

@mixin sm-up {
  @include rmin(767.1) {
    @content;
  }
}

// ------Адаптив для max-width 427px_______(по макету на 320px)

@mixin xs {
  @include r(427) {
    @content;
  }
}

//------Адаптив для min-width 427.1px (по макету на 428px)

@mixin xs-up {
  @include rmin(427.1) {
    @content;
  }
}

// hover
// @mixin any-hover() {
//   @media (any-hover: hover) {
//     &:hover {
//       @content;
//     }
//   }
// }

// aside
@mixin aside-before {
  position: absolute;
  content: "";
  background-color: $color-black;
  transform: translateX(-50%) rotate(-90deg);

  @include lg {
    top: -24px;
    height: 70px;
  }

  @include md {
    width: 1px;
    top: -24px;
    height: 60px;
  }
}

@mixin aside-after {
  position: absolute;
  content: "";
  background-color: $color-black;
  transform: translateX(-50%) rotate(-90deg);

  @include lg {
    top: -24px;
    height: 70px;
  }

  @include md {
    width: 1px;
    top: -24px;
    height: 60px;
  }
}

@mixin title-line {
  &::before {
    position: absolute;
    content: "";
    left: 50%;
    transform: translate(-50%);
    bottom: -30px;
    width: 285px;
    height: 2px;
    background: $color-black;

    @include lg {
      width: 285px;
      bottom: -23px;
      
    }

    @include md {
      width: 114px;
      bottom: -13px;
      height: 1px;
    }

    @include sm {
      width: 114px;
    }
    
    @include xs {
      width: 85px;
      bottom: -11px;
    }
  }
}

// @mixin h3-after-line {
//   &::before {
//     position: absolute;
//     content: "";
//     left: 50%;
//     transform: translate(-50%);
//     bottom: -30px;
//     width: 77px;
//     height: 2px;
//     background: $color-black;

//     @include lg {
//       bottom: -23px;
//       height: 1px;
//     }

//     @include md {
//       bottom: -13px;
//     }
//   }
// }

// hr
@mixin hr($width, $margin) {
  width: $width;
  margin: $margin;
  background-color: $color-black;
  height: 2px;
  border: none;

  @include sm {
    height: 1px;
  }

}

// button focus
@mixin btn-focus($color) {
  outline: 3px solid $color;
  box-shadow: 0 0 4px 3px $color;
  outline-offset: 7px;
}

// button hover
@mixin btn-hover() {
  outline: none;
  outline-offset: 0;
}

// br for adaptive text

// @mixin desktop-br_1920 {
//   display: block;

//   @include lg {
//     display: none;
//   }
// }

// @mixin desktop-br_1440 {
//   display: none;

//   @include lg {
//     display: block;
//   }

//   @include md {
//     display: none;
//   }
// }

// @mixin mobile-br_768 {
//   display: none;

//   @include md {
//     display: block;
//   }

//   @include sm {
//     display: none;
//   }
// }

// @mixin mobile-br_468 {
//   display: none;

//   @include sm {
//     display: block;
//   }

//   @include xs {
//     display: none;
//   }
// }

// @mixin mobile-br_320 {
//   display: none;

//   @include xs {
//     display: block;
//   }
// }