.payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1991px;
  }

  .payment__aside {
    position: absolute;
    left: 1px;
 }

 .payment__aside-span {
    position: relative;
 }