.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 1502px;
  background: linear-gradient(180deg, #d9f0ff 0%, #bfebe3 50.52%);
}

.registration__aside {
  position: absolute;
  left: 2px;
}

.registration__aside-span {
  position: relative;
}

.registration__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.registration__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 220px 0px 70px 0px;
  width: 690px;
  height: 160px;
}

.registration__title {
  text-align: center;
}
.registration__title-hr {
  width: 282px;
  color: $color-black;
  background-color: $color-black;
  height: 2px;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
//  ______________________FORM_____________

input {
  color: $color-black;
}

:root {
  --swiper-theme-color: $color-pinkdark;
}

.ui-underline {
  border: none;
  border-bottom: 1px solid $color-black;
  outline: none;
  padding: 10px 0;
  font-size: 21px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  color: $color-black;
}

input::placeholder {
  font-weight: 500;
  color: $color-black;
}


.ui-form-white input,
.ui-form-white textarea {
  border-bottom-color: #fff;
}

.ui-placeholder input {
  color: $color-black;
}

.terms {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}


.registration__inputfield label {
  color: $color-black;
  font-weight: 500;
  line-height: 26px;
  font-size: 21px;
  line-height: 26px;
}

.form {
  width: 800px;
}
.textarea {
  width: 760px;
  height: 100px;
  border: none;
  line-height: 26px;
  font-weight: 600;
  font-size: 21px;
  color: $color-black;
  padding: 20px;
   &::placeholder{
    color: $color-blackhover;
    font-weight: 400;
   }
}
.checkmark {
  color: #fb7070;
  font-weight: 900;
  font-size: 16px;;
}
.registration__terms-group {
  display: flex;
  gap: 10px;
}

.ui-form-white .ui-underline {
  color: #fff;
}


.ui-form-black input::placeholder,
.ui-form-black textarea::placeholder {
  color: $color-black;
  opacity: 0.5;
}

.ui-form-black input,
.ui-form-black textarea {
  border-bottom-color: $color-black;
}

.ui-form-black .ui-underline {
  color: $color-black;
}

.ui-placeholder {
  position: relative;
  perspective: 100px;
}

.ui-placeholder input,
.ui-placeholder textarea {
  width: 100%;
  font-weight: 600;
  background-color: transparent;
}

.input-beforeName:after, 
.input-beforeEmail:after,
.input-beforeWhatsApp:after,
.input-beforeTelegram:after
  {
  position: absolute;
    padding-top: 16px;    
    cursor: text;
}
input:invalid + .input-beforeName:after,
input:invalid + .input-beforeEmail:after  {
  content: "*";
  color: #fb7070;
  position: relative;
  font-size: 16px;
  font-weight: 900;
  padding: 0px;
  
}

input:invalid + .input-beforeWhatsApp:after,
input:invalid + .input-beforeTelegram:after   {
  content: "*";
  color: #fb7070;
  position: relative;
  font-size: 16px;
  font-weight: 900;
  padding: 0px;
  
}
input:invalid + .input-beforeWhatsApp:after {
  left: 7.4rem;
  top: -2.1rem;
}
input:invalid + .input-beforeTelegram:after {
  left: 6.6rem;
  top: -2.1rem;
}

input:invalid + .input-beforeName:after {
  left: 20rem;
  top: -2.1rem;
  
}

input:invalid + .input-beforeEmail:after {
  left: 14.3rem;
  top: -2.1rem;
}

.ui-placeholder input ~ .input-after,
.ui-placeholder textarea ~ .input-after {
  visibility: visible;
  position: absolute;
  opacity: 0;
  display: inline-block;
  transition: all 1s cubic-bezier(0.08, 0.86, 0.35, 0.94);
  font-size: 21px;
  font-weight: 500;
  line-height: 26px;
  color: $color-blackhover;
  padding: 0px;
}

.ui-placeholder input:not(:placeholder-shown) ~ .input-after,
.ui-placeholder textarea:not(:placeholder-shown) ~ .input-after {
  visibility: visible;
  opacity: 1;
}

/* perspective origin */
.ui-placeholder.ui-leftTop {
  perspective-origin: left top;
  position: relative;
}

/* set position */
.ui-placeholder.ui-leftTop input ~ .input-after,
.ui-placeholder.ui-leftTop textarea ~ .input-after {
  bottom: 100%;
  left: 0;
}

/* slide effects */
/**************************************************************/
.ui-placeholder.ui-leftTop.ui-slide textarea ~ .input-after {
  bottom: 90%;
}

.ui-placeholder.ui-leftTop.ui-slide textarea:not(:placeholder-shown) ~ .input-after {
  bottom: 100%;
}

.row > div {
  margin-bottom: 50px;
}

.registration__button {
  width: 400px;
  background-color: $color-pinkdark;
  align-self: center;
}

.registration__button:hover {
  background-color: $color-pinklight;
}
#errorsInfo {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.05em;
}

.agreedCheckbox {
  width: 25px;;
}



input[type="checkbox"] {
  accent-color: $color-pinkdark;
 
}


._error {
box-shadow: 0 0 15px red;
}

.form {
position:relative;
}

.form::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100px;
background:  url("../../images/loading.gif") center / 50px no-repeat;
opacity: 0;
visibility: hidden;
}

.form._sending::after {
  opacity: 1;
  visibility: visible;
}


// ._sending {

// }