$color-pinkdark: #fdacac;
$color-black: #635d5d;
$color-blackhover: #bbbaba;
$color-pinklight: #ffdada;
$color-greenlight: #bfebe3;
$color-white: #fefefe;
$color-bluelight: #d9f0ff;
$color-blue: #bae2fc;
$color-green: #a1f2e3;

%h1-title {
  font-family: var(--font-main);
  font-size: var(--h1-title-font-size);
  font-weight: var(--h1-title-font-weight, 700);
  font-style: normal;
  line-height: var(--h1-title-line-height);
  letter-spacing: var(--h1-title-letter-spacing);
  text-transform: var(--h1-title-text-transform);
  text-decoration: var(--h1-title-text-decoration);
  color: $color-black;
}

%h2-title {
  font-family: var(--font-main);
  font-size: var(--h2-title-font-size);
  font-weight: var(--h2-title-font-weight, 500);
  font-style: normal;
  line-height: var(--h2-title-line-height);
  letter-spacing: var(--h2-title-letter-spacing);
  text-transform: var(--h2-title-text-transform);
  text-decoration: var(--h2-title-text-decoration);
  color: $color-black;
}

%h3-title {
  font-family: var(--font-main);
  font-size: var(--h3-title-font-size);
  font-weight: var(--h3-title-font-weight, 500);
  font-style: normal;
  line-height: var(--h3-title-line-height);
  letter-spacing: var(--h3-title-letter-spacing);
  text-transform: var(--h3-title-text-transform);
  text-decoration: var(--h3-title-text-decoration);
  color: $color-black;
}

%paragraph-large {
  font-family: var(--font-main);
  font-size: var(--paragraph-large-font-size);
  font-weight: var(--paragraph-large-font-weight, 500);
  font-style: normal;
  line-height: var(--paragraph-large-line-height);
  letter-spacing: var(--paragraph-large-letter-spacing);
  text-transform: var(--paragraph-large-text-transform);
  text-decoration: var(--paragraph-large-text-decoration);
  color: $color-black;
}

%paragraph-medium {
  font-family: var(--font-main);
  font-size: var(--paragraph-medium-font-size);
  font-weight: var(--paragraph-medium-font-weight, 500);
  font-style: normal;
  line-height: var(--paragraph-medium-line-height);
  letter-spacing: var(--paragraph-medium-letter-spacing);
  text-transform: var(--paragraph-medium-text-transform);
  text-decoration: var(--paragraph-medium-text-decoration);
  color: $color-black;
}

%paragraph-standard {
  font-family: var(--font-main);
  font-size: var(--paragraph-standard-font-size);
  font-weight: var(--paragraph-standard-font-weight, 500);
  font-style: normal;
  line-height: var(--paragraph-standard-line-height);
  letter-spacing: var(--paragraph-standard-letter-spacing);
  text-transform: var(--paragraph-standard-text-transform);
  text-decoration: var(--paragraph-standard-text-decoration);
  color: $color-black;
}

%paragraph-small {
  font-family: var(--font-main);
  font-size: var(--paragraph-small-font-size);
  font-weight: var(--paragraph-small-font-weight, 400);
  font-style: normal;
  line-height: var(--paragraph-small-line-height);
  letter-spacing: var(--paragraph-small-letter-spacing);
  text-transform: var(--paragraph-small-text-transform);
  text-decoration: var(--paragraph-small-text-decoration);
  color: $color-black;
}

%banner-large {
  font-family: var(--font-main);
  font-size: var(--banner-large-font-size);
  font-weight: var(--banner-large-font-weight, 500);
  font-style: var(--banner-large-font-style);
  line-height: var(--banner-large-line-height);
  letter-spacing: var(--banner-large-letter-spacing);
  text-transform: var(--banner-large-text-transform);
  text-decoration: var(--banner-large-text-decoration);
  color: $color-black;
}

%button-text {
  font-family: var(--font-main);
  font-size: var(--button-text-font-size);
  font-weight: var(--button-text-font-weight, 500);
  font-style: var(--button-text-font-style);
  line-height: var(--button-text-line-height);
  letter-spacing: var(--button-text-letter-spacing);
  text-transform: var(--button-text-text-transform);
  text-decoration: var(--button-text-text-decoration);
  color: $color-black;
}

%footnote-large {
  font-family: var(--font-main);
  font-size: var(--footnote-large-font-size);
  font-weight: var(--footnote-large-font-weight, 500);
  font-style: var(--footnote-large-font-style);
  line-height: var(--footnote-large-line-height);
  letter-spacing: var(--footnote-large-letter-spacing);
  text-transform: var(--footnote-large-text-transform);
  text-decoration: var(--footnote-large-text-decoration);
  color: $color-black;
}
