.words {
  position: relative;
  padding: 118px 0;
  background: linear-gradient(180deg, #d9f0ff 7.29%, #ffdada 100%);
  }

.words__wrapper { 
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1em;
  color: $color-black;
}

.words__circle_left {
  position: absolute;
  left: 0;
  top: 0;
}

.words__circle_right {
  position: absolute;
  right: 0;
  bottom: 0;
}