.words {
  position: relative;
  padding: 118px 0;
  background: linear-gradient(180deg, #d9f0ff 7.29%, #ffdada 100%);
  }

.words__wrapper { 
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1em;
  color: $color-black;
}

.words__circle_left {
  position: absolute;
  left: 0;
  top: 0;
}

.words__circle_right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.words__p {
  padding-bottom: 24px;
}

.words__star-blue {
  position: absolute;
  top: 65%;
  left: 10%;
}

.words__star-pink {
  position: absolute;
  top: -30%;
  right: 15%;
}

.words__wave-blue {
  position: absolute;
  top: 120%;
  left: 20%;
}