.about {
  position: relative;
  background-color: $color-white;
  padding: 356px 0 260px;

  @include lg {
    padding: 267px 0 200px;
  }

  @include md {
    padding: 142px 0 60px;
  }

  @include sm {
    padding: 140px 0 53px;
  }

  @include xs {
    padding: 95px 0 53px;
  }

  &__aside {
    position: absolute;
    left: -2px;
  }

  &__wrapper {
    display: flex;

    @include sm {
      flex-direction: column;
    }
  }

  &__left-side {
    position: relative;
    width: 20.21vw;

    @include sm {
      height: 170px;
    }

    @include xs {
      height: 130px;
    }
  }

  &__right-side {
    display: flex;
    position: relative;
  }

  &__title {
    text-align: start;
    z-index: 1;
  }

  &__pic {
    position: absolute;
    top: -5%;
    left: 0;
    width: 490px;
    height: 655px;
    z-index: 1;

    @include lg {
      width: 367px;
      height: 490px;
    }

    @include md {
      width: 178px;
      height: 238px;
    }

    @include sm {
      width: 195px;
      height: 261px;
      top: -22%;
      left: 45%;
    }

    @include xs {
      width: 146px;
      height: 195px;
      top: -22%;
      left: 45%;
    }
  }

  &__dawn {
    animation: rotate 35s linear infinite;
    position: absolute;
    top: 37%;
    right: -27%;
    z-index: 1;

    @include md {
      top: 17%;
    }

    @include sm {
      left: 235%;
      top: -50%;
    }

    @include xs {
      left: 235%;
      top: -43%;
    }
  }

  &__star_1 {
    position: absolute;
    top: 128%;
    left: 52%;

    @include md {
      top: 92%;
    }

    @include sm {
      display: none;
    }
    
  }

  &__star_2 {
    position: absolute;
    top: 15%;
    left: 5%;

    @include md {
      top: 10%;
    }

    @include sm {
      display: none;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1134px;
    background: linear-gradient(
      180deg,
      #d9f0ff 0%,
      rgba(217, 240, 255, 0.4) 100%
    );
    padding: 125px 105px 188px 230px;

    @include lg {
      gap: 30px;
      max-width: 850px;
      padding: 93px 65px 145px 163px;
    }

    @include md {
      gap: 30px;
      max-width: 454px;
      padding: 50px 30px 58px 60px;
    }

    @include sm {
      gap: 20px;
      max-width: 348px;
      padding: 97px 26px 90px;
    }

    @include xs {
      gap: 15px;
      max-width: 260px;
      padding: 72px 20px 60px;
    }
  }

  &__hr-title {
    @include hr(285px, 0);
    z-index: 1;

    @include md {
      @include hr(214px, 0);
    }

    @include xs {
      @include hr(117px, 0);
    }
  }

  &__text {
    position: relative;
    max-width: 773px;

    p {
      margin-bottom: 44px;
      z-index: 1;

      @include lg {
        margin-bottom: 32px;
      }

      @include md {
        margin-bottom: 25px;
      }

      @include sm {
        margin-bottom: 20px;
      }
    }
  }

  &__hr_2 {
    color: $color-black;
    background-color: $color-black;
    margin: 0;
    width: 140px;
    height: 1px;
    border: none;

    @include lg {
      width: 100px;
    }

    @include md {
      width: 90px;
    }

    @include sm {
      width: 50px;
    }
  }

  &__endnote {
    max-width: 800px;

    @include lg {
      max-width: 580px;
    }

    @include md {
      max-width: 351px;
    }

    @include sm {
      max-width: 321px;
    }

    @include xs {
      max-width: 220px;
    }
  }

  &__waves_1 {
    position: absolute;
    top: 76%;
    left: -7%;

    @include md {
      top: 73%;
    }

    @include sm {
      display: none;
    }
  }

  &__waves_2 {
    position: absolute;
    top: 96%;
    left: 26%;

    @include md {
      top: 99%;
    }

    @include sm {
      display: none;
    }
  }

  &__waves_3 {
    position: absolute;
    top: 10%;
    right: 7%;

    @include md {
      top: 8%;
    }

    @include sm {
      display: none;
    }
  }

  &__star_3 {
    position: absolute;
    top: 19%;
    left: 77%;

    @include md {
      top: 13.5%;
      left: 77.5%;
    }

    @include sm {
      left: 70%;
      top: 26%;
    }
    
    @include xs {
      top: 17%;
    }
  }

  &__star_4 {
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 56%;

    @include md {
      top: 7%;
      right: 54%;
    }

    @include sm {
      display: none;
    }
  }

  &__star_5 {
    position: absolute;
    bottom: 2%;
    right: 20%;

    @include md {
      bottom: 1%;
    }

    @include sm {
      display: none;
    }
  }

  &__circle {
    position: absolute;
    top: 0;
    right: 0;
  }


}


@include lg {

}

@include md {

}

@include sm {

}

@include xs {

}


