.about {
  position: relative;
  background-color: $color-white;
  padding: 356px 0 260px;

  &__aside {
    position: absolute;
    left: -2px;
  }

  &__aside-span {
    position: relative;
  }

  &__wrapper {
    display: flex;
  }

  &__left-side {
    position: relative;
    width: 20.21vw;
  }

  &__right-side {
    display: flex;
    position: relative;
  }

  &__pic {
    position: absolute;
    top: -5%;
    left: 0;
    width: 490px;
    height: 655px;
    z-index: 1;
  }

  &__dawn {
    display: inline-block;
    animation: rotate 35s linear infinite;
    position: absolute;
    top: 37%;
    right: -27%;
    z-index: 1;
  }

  &__star_1 {
    position: absolute;
    top: 128%;
    left: 52%;
  }

  &__star_2 {
    position: absolute;
    top: 15%;
    left: 5%;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1134px;
    background: linear-gradient(
      180deg,
      #d9f0ff 0%,
      rgba(217, 240, 255, 0.4) 100%
    );
    padding: 125px 105px 188px 230px;
  }

  &__hr_1 {
    @include hr(140px, 0);
  }

  &__text {
    position: relative;
    max-width: 773px;

    p {
      margin-bottom: 44px;
    }
  }

  &__hr_2 {
    color: $color-black;
    background-color: $color-black;
    margin: 0;
    width: 140px;
    height: 1px;
    border: none;
  }

  &__endnote {
    max-width: 800px;
  }

  &__waves_1 {
    position: absolute;
    top: 76%;
    left: -7%;
  }

  &__waves_2 {
    position: absolute;
    top: 96%;
    left: 26%;
  }

  &__waves_3 {
    position: absolute;
    top: 10%;
    right: 7%;
  }

  &__star_3 {
    position: absolute;
    top: 18%;
    left: 78%;
  }

  &__star_4 {
    position: absolute;
    z-index: 1;
    top: 2%;
    right: 56%;
  }

  &__star_5 {
    position: absolute;
    bottom: 2%;
    right: 20%;
  }

  &__circle {
    position: absolute;
    top: 0;
    right: 0;
  }

  .desktop-br_1440 {
    display: none;
  }

  .mobile-br_768 {
    display: none;
  }
}

// ___Desktop 1440px
// @media all and (min-width: 1440px) and (max-width: 1919px) {
//   .about {
//     padding: 267px 0 200px;
//   }

//   .about__pic {
//     width: 367px;
//     height: 490px;
//   }

//   .about__text-block {
//     gap: 30px;
//     max-width: 850px;
//     padding: 93px 65px 145px 163px;
//   }

//   .about__hr_1 {
//     @include hr(100px, 0);
//   }

//   .about__text {
//     max-width: 585px;
//   }
//   .about__text > p {
//     margin-bottom: 32px;
//   }
//   .about__hr_2 {
//     width: 100px;
//   }

//   .about__endnote {
//     max-width: 580px;
//   }

//   .desktop-br_1920 {
//     display: none;
//   }

//   .desktop-br_1440 {
//     display: block;
//   }
//   .mobile-br_768 {
//     display: none;
//   }
//   .mobile-br_320 {
//     display: none;
//   }
// }

// // ____Tablet 768px

// @media all and (min-width: 768px) and (max-width: 1439px) {
//   .about {
//     padding: 142px 0 60px;
//   }

//   .about__pic {
//     width: 178px;
//     height: 238px;
//   }

//   .about__dawn {
//     top: 24%;
//   }

//   .about__text-block {
//     gap: 30px;
//     max-width: 454px;
//     padding: 50px 30px 58px 60px;
//   }

//   .about__hr_1 {
//     @include hr(90px, 0);
//   }

//   .about__text > p {
//     margin-bottom: 25px;
//   }
//   .about__hr_2 {
//     width: 90px;
//   }

//   .desktop-br_1920 {
//     display: none;
//   }

//   .desktop-br_1440 {
//     display: none;
//   }

//   .mobile-br_320 {
//     display: none;
//   }
//   .mobile-br_768 {
//     display: block;
//   }
// }

// // ____Mobile 428px

// @media all and (min-width: 428px) and (max-width: 767px) {
//   .about {
//     padding: 140px 0 53px;
//   }
//   .about__wrapper {
//     flex-direction: column;
//   }

//   .about__left-side {
//     height: 170px;
//   }
//   .about__pic {
//     width: 195px;
//     height: 261px;
//     top: -22%;
//     left: 45%;
//   }

//   .about__dawn {
//     left: 235%;
//     top: -50%;
//   }
//   .about__text-block {
//     gap: 20px;
//     max-width: 348px;
//     padding: 97px 26px 90px;
//   }
//   .about__star_1,
//   .about__star_2,
//   .about__star_4,
//   .about__star_5,
//   .about__waves_1,
//   .about__waves_2,
//   .about__waves_3 {
//     display: none;
//   }

//   .about__star_3 {
//     left: 70%;
//     top: 27%;
//   }
//   .about__hr_1 {
//     @include hr(50px, 0);
//   }

//   .about__text > p {
//     margin-bottom: 20px;
//   }
//   .about__hr_2 {
//     width: 50px;
//   }

//   .desktop-br_1920 {
//     display: none;
//   }

//   .desktop-br_1440 {
//     display: none;
//   }
//   .mobile-br_768 {
//     display: none;
//   }
//   .mobile-br_320 {
//     display: none;
//   }
// }

// // ____Mobile 320px

// @media all and (min-width: 320px) and (max-width: 427px) {
//   .about {
//     padding: 95px 0 53px;
//   }
//   .about__wrapper {
//     flex-direction: column;
//   }

//   .about__left-side {
//     height: 130px;
//   }
//   .about__pic {
//     width: 146px;
//     height: 195px;
//     top: -22%;
//     left: 45%;
//   }

//   .about__dawn {
//     left: 235%;
//     top: -50%;
//   }
//   .about__text-block {
//     gap: 15px;
//     max-width: 260px;
//     padding: 72px 20px 60px;
//   }
//   .about__star_1,
//   .about__star_2,
//   .about__star_4,
//   .about__star_5,
//   .about__waves_1,
//   .about__waves_2,
//   .about__waves_3 {
//     display: none;
//   }

//   .about__star_3 {
//     left: 70%;
//     top: 25%;
//   }
//   .about__hr_1 {
//     @include hr(50px, 0);
//   }

//   .about__text > p {
//     margin-bottom: 20px;
//   }
//   .about__hr_2 {
//     width: 50px;
//   }

//   .desktop-br_1920 {
//     display: none;
//   }

//   .desktop-br_1440 {
//     display: none;
//   }

//   .mobile-br_768 {
//     display: none;
//   }
//   .mobile-br_320 {
//     display: block;
//   }
// }
