.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 95px 0 165px;

  &__aside {
    position: absolute;
    left: -53px;
  }

  &__aside-span {
    position: relative;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 120px;
  }

  &__text-block {
    display: flex;
    align-items: flex-start;
    z-index: 1;
    gap: 120px;
  }

  &__title-block {
    display: flex;
    flex-direction: column;
  }

  &__title-rectangle {
    width: 490px;
    height: 40px;
    background-color: $color-pinklight;
  }

  &__title {
    padding-bottom: 28px;
  }

  &__cards-block {
    display: flex;
    gap: 25px;
    z-index: 1;
    padding-bottom: 225px;
  }

  &__card-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    z-index: 1;
    width: 320px;
    height: 267px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 40px 30px 30px 30px;
    bottom: -60%;
  }
}

.card-science,
.card-security {
  background: linear-gradient(180deg, #bfebe3 0%, #ffffff 100%);
}

.card-feminism {
  background: linear-gradient(180deg, #ffdada 0%, #ffffff 100%);
}

.card-lgbt {
  background: linear-gradient(180deg, #d9f0ff 0%, #ffffff 100%);
}

.card-benefits {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.benefits__card-pic {
  display: block;
  max-width: 360px;
  width: 100%;
}

.benefits__card-title {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: $color-black;
    width: 45px;
    height: 2px;
    left: 0;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}

.benefits__button {
  background-color: $color-pinkdark;
  width: 667px;

  &:focus {
    @include btn-focus($color-pinkdark);
  }

  &:hover {
    background-color: $color-pinklight;
    @include btn-hover;
  }
}

.benefits__star_1 {
  position: absolute;
  top: -27%;
  left: 58%;
}
.benefits__star_2 {
  position: absolute;
  top: 95%;
  left: 37%;
}
.benefits__star_3 {
  position: absolute;
  bottom: 124%;
  left: -6%;
}
.benefits__star_4 {
  position: absolute;
  bottom: 56%;
  left: 80%;
}
.benefits__star_5 {
  position: absolute;
  bottom: -70%;
  left: 18%;
}
.benefits__waves_1 {
  position: absolute;
  bottom: -18%;
  left: 28%;
}
.benefits__arrows {
  position: absolute;
  top: -38%;
  right: 5%;
  z-index: 0;
}

// Desktop 1440px

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .benefits {
    padding: 85px 0 155px;
  }

  .benefits__wrapper {
    gap: 90px;
  }

  .benefits__text-block {
    gap: 82px;
  }

  .benefits__title-rectangle {
    width: 373px;
    height: 30px;
  }

  .benefits__title {
    padding-bottom: 15px;
  }

  .benefits__cards-block {
    gap: 20px;
    padding-bottom: 174px;
  }

  .benefits__card-text {
    gap: 20px;
    width: 240px;
    height: 200px;
    padding: 30px 20px 20px;
    bottom: -65%;
  }

  .benefits__card-pic {
    max-width: 270px;
    width: 100%;
  }

  .benefits__card-title {
    &::before,
    &::after {
      width: 40px;
    }
    &::before {
      top: -8px;
    }
    &::after {
      bottom: -8px;
    }
  }

  .benefits__button {
    width: 500px;
  }
  .desktop_1920 {
    display: none;
  }

  .desktop_1440 {
    display: block;
  }
  .mobile_768 {
    display: none;
  }
  .mobile_428 {
    display: none;
  }

  .mobile_320 {
    display: none;
  }
}

// Tablet 768px

@media all and (min-width: 768px) and (max-width: 1439px) {
  .benefits {
    padding: 66px 0 58px;
  }

  .benefits__wrapper {
    gap: 50px;
  }

  .benefits__text-block {
    gap: 30px;
  }

  .benefits__title-rectangle {
    width: 206px;
    height: 16px;
  }

  .benefits__title {
    padding-bottom: 8px;
  }

  .benefits__cards-block {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 210px;
    padding-bottom: 174px;
  }

  .benefits__card-text {
    gap: 15px;
    width: 185px;
    height: 135px;
    padding: 20px 15px 15px;
  }

  .benefits__card-pic {
    max-width: 202px;
    width: 100%;
  }

  .benefits__card-title {
    &::before,
    &::after {
      width: 40px;
    }
    &::before {
      top: -8px;
    }
    &::after {
      bottom: -8px;
    }
  }

  .benefits__button {
    width: 500px;
  }
  .desktop_1920 {
    display: none;
  }

  .desktop_1440 {
    display: none;
  }
  .mobile_768 {
    display: block;
  }
  .mobile_428 {
    display: none;
  }

  .mobile_320 {
    display: none;
  }
}

// Mobile 428px

@media all and (min-width: 428px) and (max-width: 767px) {
}

// Mobile 320px

@media all and (min-width: 320px) and (max-width: 427px) {
}
