.consultations {
  position: relative;
  background: linear-gradient(180deg, #ffdada 31.77%, #d9f0ff 72.92%);
  padding: 220px 0 260px;

  &__wrapper {
    position: relative;
  }

  &__title {
    text-align: center;
  }

  & hr {
    @include hr(285px, 30px auto 40px);
  }

  &__subtitle {
    margin: 0 auto;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 100px 0 92px;
  }

  &__arrow {
    width: 36px;
    height: 67px;
    transition: 0.4s ease;

    &:hover {
      transform: translateX(4px);
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    & button {
      max-width: 800px;
      width: 100%;
      background: $color-pinklight;

      &:focus {
        @include btn-focus($color-pinklight);
      }

      &:hover {
        @include btn-hover;
      }
    }
  }
}

.consultations__aside {
  position: absolute;
  left: -50px;
}

.consultations__aside-span {
  position: relative;
}

.consultations__card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease;
  z-index: 2;

  &:hover {
    scale: 1.05;
  }

  &:nth-of-type(1) {
    max-width: 489px;
    min-height: 549px;
    background: linear-gradient(180deg, #fff 0%, #ffdada 72.4%);

    object {
      max-width: 48px;
      height: 30px;
    }
  }

  &:nth-of-type(2) {
    max-width: 387px;
    min-height: 473px;
    background: linear-gradient(180deg, #bfebe3 0%, #fff 100%);

    object {
      max-width: 59px;
      height: 31px;
    }
  }

  hr {
    @include hr(77px, 0);
  }

  ul li {
    list-style: none;
    background-image: url("../../images/icons/li-icon.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    margin: 0;
    white-space: nowrap;
    padding: 0 0 0 30px;
  }
}

.consultations__circle_right {
  position: absolute;
  top: 0;
  right: 0;
}

.consultations__circle_left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.consultations__star-1 {
  position: absolute;
  top: 83px;
  left: 155px;
}

.consultations__star-2 {
  position: absolute;
  top: 335px;
  right: 393px;
}

.consultations__wave_green {
  position: absolute;
  top: 277px;
  left: 204px;
}

.consultations__star-1_pink {
  position: absolute;
  left: 261px;
  bottom: 180px;
}

.consultations__star-2_pink {
  position: absolute;
  right: 358px;
  bottom: 297px;
}

.consultations__circle-lines-small {
  position: absolute;
  right: 50px;
  bottom: 170px;
}

// Desktop 1440px

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .consultations {
    padding: 165px 0 195px;

    & hr {
      @include hr(214px, 23px auto 30px);
    }

    &__cards {
      gap: 30px;
      margin: 75px 0 69px;
    }

    &__arrow {
      width: 27px;
      height: 50px;
    }
  }

  .consultations__card {
    gap: 25px;
    padding: 25px;

    &:nth-of-type(1) {
      max-width: 367px;
      min-height: 412px;

      object {
        max-width: 32px;
        height: 20px;
      }
    }

    &:nth-of-type(2) {
      max-width: 290px;
      min-height: 355px;
      padding: 20px;

      object {
        max-width: 40px;
        height: 20px;
      }
    }

    hr {
      @include hr(77px, 0);
    }

    ul li {
      background-size: 15px;
      padding: 0 0 0 25px;
    }
  }
}

// Tablet 768px

@media all and (min-width: 768px) and (max-width: 1439px) {
  .consultations {
    padding: 88px 0 100px;

    & hr {
      @include hr(114px, 15px auto 17px);
    }

    &__cards {
      gap: 20px;
      margin: 30px 0 50px;
    }

    &__arrow {
      width: 15px;
      height: 27px;
    }
  }

  .consultations__card {
    gap: 15px;
    padding: 20px;

    &:nth-of-type(1) {
      max-width: 278px;
      min-height: 295px;

      object {
        max-width: 32px;
        height: 20px;
      }
    }

    &:nth-of-type(2) {
      max-width: 241px;
      min-height: 267px;

      object {
        max-width: 40px;
        height: 21px;
      }
    }

    hr {
      @include hr(77px, 0);
    }

    ul li {
      background-size: 10px;
      padding: 0 0 0 20px;
    }
  }
}

// Mobile 428px

@media all and (min-width: 428px) and (max-width: 767px) {
  .consultations {
    padding: 115px 0 115px;

    & hr {
      @include hr(114px, 15px auto 22px);
    }

    &__subtitle {
      max-width: 287px;
    }

    &__cards {
      flex-direction: column;
      gap: 20px;
      margin: 40px 0 77px;
    }

    &__arrow {
      width: 15px;
      height: 27px;
      transform: rotate(90deg);
    }
  }

  .consultations__card {
    gap: 15px;
    padding: 20px;

    &:nth-of-type(1) {
      max-width: 278px;
      min-height: 295px;

      object {
        max-width: 32px;
        height: 20px;
      }
    }

    &:nth-of-type(2) {
      max-width: 241px;
      min-height: 267px;

      object {
        max-width: 40px;
        height: 21px;
      }
    }

    hr {
      @include hr(77px, 0);
    }

    ul li {
      background-size: 10px;
      padding: 0 0 0 20px;
    }

    .consultations__circle_left {
      display: none;
    }
  }
}

// Mobile 320px

@media all and (min-width: 320px) and (max-width: 427px) {
  .consultations {
    padding: 85px 0 80px;

    & hr {
      @include hr(85px, 10px auto 16px);
    }

    &__subtitle {
      max-width: 214px;
    }

    &__cards {
      flex-direction: column;
      gap: 15px;
      margin: 30px 0 60px;
    }

    &__arrow {
      width: 11px;
      height: 21px;
      transform: rotate(90deg);
    }
  }

  .consultations__card {
    gap: 10px;
    padding: 15px;

    &:nth-of-type(1) {
      max-width: 218px;
      min-height: 240px;

      object {
        max-width: 32px;
        height: 20px;
      }
    }

    &:nth-of-type(2) {
      max-width: 197px;
      min-height: 222px;

      object {
        max-width: 40px;
        height: 21px;
      }
    }

    hr {
      @include hr(77px, 0);
    }

    ul li {
      background-size: 10px;
      padding: 0 0 0 15px;
    }

    .consultations__circle_left {
      display: none;
    }
  }
}
