.consultations {
  position: relative;
  background: linear-gradient(180deg, #ffdada 31.77%, #d9f0ff 72.92%);
  padding: 220px 0 260px;

  @include lg {
    padding: 165px 0 195px;
  }

  @include md {
    padding: 88px 0 100px;
  }

  @include sm {
    padding: 115px 0 115px;
  }

  @include xs {
    padding: 85px 0 80px;
  }

  &____aside {
    position: absolute;
    left: -50px;
  }

  &__aside-span {
    position: relative;
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    @include title-line;
  }

  &__subtitle {
    margin: 75px auto 0;
    text-align: center;

    @include lg {
      margin-top: 55px;
    }

    @include md {
      margin-top: 30px;
    }

    @include sm {
      max-width: 287px;
      margin-top: 35px;
    }

    @include xs {
      max-width: 214px;
      margin-top: 25px;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 100px 0 92px;

    @include lg {
      gap: 30px;
      margin: 75px 0 69px;
    }

    @include md {
      gap: 20px;
      margin: 30px 0 50px;
    }

    @include sm {
      flex-direction: column;
      margin: 40px 0 77px;
    }

    @include xs {
      gap: 15px;
      margin: 30px 0 60px;
    }
  }

  &__arrow {
    width: 36px;
    height: 67px;
    transition: 0.4s ease;

    @include lg {
      width: 27px;
      height: 50px;
    }

    @include md {
      width: 15px;
      height: 27px;
    }

    @include sm {
      transform: rotate(90deg);
    }

    @include xs {
      width: 11px;
      height: 21px;
    }

    &:hover {
      transform: translateX(4px);
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    & button {
      max-width: 800px;
      width: 100%;
      background: $color-pinklight;

      &:focus {
        @include btn-focus($color-pinklight);
      }

      &:hover {
        @include btn-hover;
      }
    }
  }
}

// card
.consultations-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease;
  z-index: 2;

  @include lg {
    gap: 25px;
    padding: 25px;
  }

  @include md {
    gap: 15px;
    padding: 20px;
  }

  @include xs {
    gap: 10px;
    padding: 15px;
  }

  &:hover {
    scale: 1.05;
  }

  &:nth-of-type(1) {
    max-width: 489px;
    min-height: 549px;
    background: linear-gradient(180deg, #fff 0%, #ffdada 72.4%);

    @include lg {
      max-width: 367px;
      min-height: 412px;
    }

    @include md {
      max-width: 278px;
      min-height: 295px;
    }

    @include xs {
      max-width: 218px;
      min-height: 240px;
    }

    img {
      max-width: 48px;

      @include lg {
        max-width: 32px;
      }
    }
  }

  &:nth-of-type(2) {
    max-width: 387px;
    min-height: 473px;
    background: linear-gradient(180deg, #bfebe3 0%, #fff 100%);

    @include lg {
      max-width: 290px;
      min-height: 355px;
      padding: 20px;
    }

    @include md {
      max-width: 241px;
      min-height: 267px;
    }

    @include xs {
      max-width: 197px;
      min-height: 222px;
    }

    img {
      max-width: 59px;

      @include lg {
        max-width: 40px;
      }
    }
  }

  &__title {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: -30px;
      width: 77px;
      height: 2px;
      background: $color-black;

      @include md {
        bottom: -25px;
        height: 1px;
      }

      @include sm {
        bottom: -20px;
      }
    }
  }

  &__list {
    margin-top: 30px;
  }

  &__list-item {
    list-style: none;
    background-image: url("../../images/icons/li-icon.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    margin: 0;
    white-space: nowrap;
    padding: 0 0 0 30px;

    @include lg {
      background-size: 15px;
      padding: 0 0 0 25px;
    }

    @include md {
      background-size: 10px;
      padding: 0 0 0 20px;
      white-space: normal;
    }

    @include xs {
      padding: 0 0 0 15px;
    }
  }
}

// elements
.consultations__circle_right {
  position: absolute;
  top: 0;
  right: 0;
}

.consultations__circle_left {
  position: absolute;
  bottom: 0;
  left: 0;

  @include sm {
    display: none;
  }
}

.consultations__star-1 {
  position: absolute;
  top: 83px;
  left: 155px;
}

.consultations__star-2 {
  position: absolute;
  top: 335px;
  right: 393px;
}

.consultations__wave_green {
  position: absolute;
  top: 277px;
  left: 204px;
}

.consultations__star-1_pink {
  position: absolute;
  left: 261px;
  bottom: 180px;
}

.consultations__star-2_pink {
  position: absolute;
  right: 358px;
  bottom: 297px;
}

.consultations__circle-lines-small {
  position: absolute;
  right: 50px;
  bottom: 170px;
}
