.consultations {
  position: relative;
  background: linear-gradient(180deg, #ffdada 31.77%, #d9f0ff 72.92%);
  padding: 220px 0 260px;

  @include lg {
    padding: 165px 0 195px;
  }

  @include md {
    padding: 88px 0 100px;
  }

  @include sm {
    padding: 115px 0 115px;
  }

  @include xs {
    padding: 85px 0 80px;
  }

  &__aside {
    left: -1%;

    @include md {
      left: -3%;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    @include title-line;
  }

  &__subtitle {
    margin: 75px auto 0;
    text-align: center;

    @include lg {
      margin-top: 55px;
    }

    @include md {
      margin-top: 30px;
    }

    @include sm {
      max-width: 287px;
      margin-top: 35px;
    }

    @include xs {
      max-width: 260px;
      margin-top: 25px;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 110px 0 125px;

    @include lg {
      gap: 30px;
      margin: 75px 0 69px;
    }

    @include md {
      gap: 12px;
      margin: 40px 0 70px;
    }

    @include sm {
      flex-direction: column;
      margin: 40px 0 77px;
    }

    @include xs {
      gap: 15px;
      margin: 30px 0 60px;
    }
  }

  &__arrow {
    width: 36px;
    height: 67px;
    transition: 0.4s ease;

    @include lg {
      width: 27px;
      height: 50px;
    }

    @include md {
      width: 15px;
      height: 27px;
    }

    @include sm {
      transform: rotate(90deg);
    }

    @include xs {
      width: 11px;
      height: 21px;
    }

    &:hover {
      transform: translateX(4px);
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    & button {
      max-width: 800px;
      width: 100%;
      background: $color-pinklight;

      @include lg {
        max-width: 600px;
      }

      @include md {
        max-width: 347px;
      }

      &:focus {
        @include btn-focus($color-pinklight);
      }

      &:hover {
        @include btn-hover;
      }
    }
  }

  // elements

  &__circle_right {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__circle_left {
    position: absolute;
    bottom: 0;
    left: 0;

    @include sm {
      display: none;
    }
  }

  &__star-1 {
    position: absolute;
    top: 7%;
    left: 15%;

    @include lg {
      top: 6%;
    }
  }

  &__star-2 {
    position: absolute;
    top: 22%;
    right: 20%;

    @include md {
      top: 13%;
      right: 14%;
    }

    @include xs {
      display: none;
    }
  }

  &__wave_green {
    position: absolute;
    top: 28%;
    left: 12%;

    @include md {
      top: 15%;
      left: 8%;
    }

    @include sm {
      display: none;
    }
  }

  &__star-1_pink {
    position: absolute;
    left: 13%;
    bottom: 11%;

    @include sm {
      display: none;
    }
  }

  &__star-2_pink {
    position: absolute;
    left: 79%;
    bottom: 14%;

    @include sm {
      display: none;
    }
  }

  &__circle-lines-small {
    position: absolute;
    right: 10%;
    top: 26%;
    animation: rotate 35s linear infinite;

    @include md {
      right: -3%;
      top: 26%;
    }
  }
}

// card
.consultations-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease;
  z-index: 2;

  @include lg {
    gap: 25px;
    padding: 25px;
  }

  @include md {
    gap: 15px;
    padding: 18px;
  }

  &:hover {
    scale: 1.05;
  }

  &:nth-of-type(1) {
    max-width: 489px;
    min-height: 540px;
    background: linear-gradient(180deg, #fff 0%, #ffdada 72.4%);

    @include lg {
      max-width: 367px;
      min-height: 430px;
    }

    @include md {
      max-width: 287px;
      min-height: 344px;
    }

    @include sm {
      max-width: 318px;
      min-height: 302px;
    }

    @include xs {
      max-width: 260px;
      min-height: 350px;
    }

    img {
      max-width: 48px;

      @include lg {
        max-width: 32px;
      }
    }
  }

  &:nth-of-type(2) {
    max-width: 395px;
    min-height: 496px;
    background: linear-gradient(180deg, #bfebe3 0%, #fff 100%);

    @include lg {
      max-width: 303px;
      min-height: 390px;
      padding: 20px;
    }

    @include md {
      max-width: 241px;
      min-height: 267px;
    }

    @include sm {
      max-width: 282px;
      min-height: 267px;
    }

    @include xs {
      max-width: 237px;
      min-height: 310px;
    }

    img {
      max-width: 59px;

      @include lg {
        max-width: 40px;
      }
    }
  }

  &__title {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: -30px;
      width: 77px;
      height: 2px;
      background: $color-black;

      @include lg {
        bottom: -25px;
        height: 1px;
      }

      @include md {
        bottom: -15px;
        height: 1px;
      }

      @include xs {
        bottom: -10px;
      }
    }
  }

  &__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    @include lg {
      margin-top: 25px;
    }

    @include md {
      margin-top: 15px;
    }

    @include xs {
      margin-top: 10px;
    }
  }

  &__cost {
    font-size: 32px;
    font-weight: 400;

    @include lg {
      font-size: 24px;
    }

    @include md {
      font-size: 20px;
    }

    @include sm {
      font-size: 16px;
    }
  }

  &__list-item {
    position: relative;
    line-height: 30px;
    padding: 0 0 0 30px;

    @include lg {
      background-size: 15px;
      padding: 0 0 0 25px;
      line-height: 25px;
    }

    @include md {
      background-size: 10px;
      padding: 0 0 0 20px;
      white-space: normal;
      line-height: 21px;
    }

    @include xs {
      padding: 0 0 0 15px;
      line-height: 20px;
    }
  }
}
.list-1 > .consultations-card__list-item::before,
.list-2 > .consultations-card__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Ширина иконки */
  height: 20px; /* Высота иконки */
  background-image: url("../../images/icons/li-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @include lg {
    width: 18px;
    height: 18px;
  }

  @include md {
    width: 14px;
    height: 14px;
  }

  @include xs {
    width: 11px;
    height: 11px;
  }
}

.list-1 > .consultations-card__list-item:nth-child(3)::before,
.list-2 > .consultations-card__list-item:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../../images/icons/li-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @include md {
    left: 0;
    top: 25%;
  }

  @include sm {
    left: 0;
    top: 50%;
  }

  @include xs {
    left: 0;
    top: 25%;
  }
}

.list-1 > .consultations-card__list-item:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../../images/icons/li-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @include xs {
    left: 0;
    top: 25%;
  }
}
