@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #feeded;
  --clr-2: #ffc9c9;
  --clr-3: #b0e0ff;
  --clr-4: #b0e0ff;
  --clr-5: #a1e7d9;
  --clr-6: #d8fff7;
}

.gradient {
  background: transparent;
}

.gradient::before,
.gradient::after {
  content: "";
  position: absolute;
  inset: 0rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-6)
  );
  border-radius: inherit;
  animation: rotation 10s linear infinite;
}

.gradient::after {
  filter: blur(3.8rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.cover {
  position: relative;
  margin: 0 auto;
  width: 100%;
  // padding: 302px 0 172px;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__left-side {
    width: 50%;
    height: 100%;
    z-index: 3;
    padding: 250px 0 172px;

    @include lg {
      padding: 217px 0 106px;
    }

    @include md {
      padding: 94px 0 44px;
      max-width: 608px;
      width: 100%;
    }

    @include sm {
      padding: 168px 0 88px;
      max-width: 387px;
    }

    @include xs {
      padding: 128px 0 60px;
      max-width: 260px;
    }
  }

  &__over-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 179.5%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 1rem;

    @include lg {
      font-size: 18px;
      margin-bottom: 20px;
    }

    @include md {
      font-size: 12px;
      margin-bottom: 9px;
    }

    @include sm {
      font-size: 14px;
      margin-bottom: 23px;
    }

    @include xs {
      font-size: 12px;
      margin-bottom: 13px;
    }
  }

  &__title {
    max-width: 685px;
    width: 100%;
    margin: 0 0 30px 0;

    @include lg {
      margin: 0 0 11px 0;
    }

    @include md {
      margin: 0 0 7px 0;
    }

    @include sm {
      max-width: 340px;
      margin: 0 0 23px 0;
    }

    @include xs {
      margin: 0 0 17px 0;
    }
  }

  &__subtitle {
    @include lg {
      max-width: 348px;
    }

    @include md {
      max-width: 581px;
    }

    @include sm {
      max-width: 312px;
    }

    @include xs {
      max-width: 257px;
    }
  }

  &__button {
    z-index: 1;
    width: 515px;
    margin-top: 34px;
    background: $color-pinkdark;

    &:focus {
      @include btn-focus($color-pinkdark);
    }

    &:hover {
      background-color: $color-pinklight;
      @include btn-hover;
    }

    @include lg {
      width: 387px;
      margin-top: 30px;
    }

    @include md {
      width: 347px;
      margin-top: 19px;
    }

    @include sm {
      margin-top: 74px;
    }

    @include xs {
      width: 260px;
      margin-top: 49px;
    }
  }

  &__pic {
    position: absolute;
    left: 39%;
    bottom: 0;
    z-index: 3;

    img {
      width: 100%;
      height: auto;
      display: block;

      @include lg {
        max-width: 825px;
        width: 100%;
        max-height: 800px;
        height: 100%;
      }

      @include md {
        display: none;
      }

      @include sm {
        display: none;
      }

      @include xs {
        display: none;
      }
    }
  }

  &__right-circles {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__left-circles {
    position: absolute;
    left: 0;
    top: 4%;
  }

  &__arrows {
    position: absolute;
    left: 90%;
    top: 16%;

    @include lg {
      max-width: 55.2px;
      width: 100%;
      max-height: 110px;
      height: 100%;
    }

    @include md {
      max-width: 29.44px;
      max-height: 58.59px;
      left: 91%;
      top: 13%;

    }

    @include sm {
      display: none;
    }

    @include xs {
      display: none;
    }
  }

  &__star_1 {
    position: absolute;
    left: 49%;
    top: 59%;

    @include lg {
      left: 50%;
    }

    @include md {
      left: 68%;
      top: 74%;
    }

    @include sm {
      left: 54%;
      top: 38%;
    }

    @include xs {
      left: 59%;
      top: 36%;
    }
  }

  &__star_2 {
    position: absolute;
    left: 78%;
    top: 20%;

    @include lg {
      top: 23%;
    }

    @include md {
      left: 72%;
      top: 30%;
    }

    @include sm {
      left: 84%;
      top: 19%;
    }

    @include xs {
      left: 85%;
    }
  }

  &__star_3 {
    position: absolute;
    left: 87%;
    top: 55%;

    @include lg {
      
    }

    @include md {
      left: 91%;
    top: 44%;
    }

    @include sm {
      
    }

    @include xs {
      
    }
  }

  &__present {
    position: absolute;
    max-width: 113px;
    max-height: 113px;
    width: 100%;
    z-index: 1;
    left: 82%;
    top: 28%;

    @include lg {
      max-width: 84px;
      max-height: 84px;
    }

    @include md {
      max-width: 102px;
      max-height: 102px;
      left: 77%;
      top: 18%;
    }

    @include sm {
      max-width: 106px;
      max-height: 106px;
      left: 65%;
      top: 25%;
    }

    @include xs {
      max-width: 81px;
      max-height: 81px;
      left: 68%;
      top: 25%;
    }
  }

  .mobile-br {
    display: none;

    @include md {
      display: none;
    }

    @include sm {
      display: block;
    }

    @include xs {
      display: block;
    }
  }

  .desktop-br {
    display: inline;

    @include md {
      display: none;
    }

    @include sm {
      display: none;
    }

    @include xs {
      display: none;
    }
  }

  .desktop-svg {
    @include lg {
      display: none;
    }

    @include md {
      display: none;
    }

    @include sm {
      display: none;
    }

    @include xs {
      display: none;
    }
  }

  .mobile-svg_428 {
    display: none;

    @include lg {
      display: none;
    }

    @include md {
      display: none;
    }

    @include sm {
      display: block;
    }

    @include xs {
      display: none;
    }
  }

  .mobile-svg_320 {
    display: none;

    @include lg {
      display: none;
    }

    @include md {
      display: none;
    }

    @include sm {
      display: none;
    }

    @include xs {
      display: block;
    }
  }

  .desktop-svg_1440 {
    display: none;

    @include lg {
      display: block;
    }

    @include md {
      display: none;
    }

    @include sm {
      display: none;
    }

    @include xs {
      display: none;
    }
  }
}