.faq {
  position: relative;
  padding: 220px 0 260px;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 1;
  }

  &__title {
    position: relative;
    height: fit-content;
    margin-top: 35px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 101px;
      height: 2px;
      background: $color-black;
    }

    &::before {
      top: -35px;
    }

    &::after {
      bottom: -35px;
    }
  }
}

.faq__aside {
  position: absolute;
  left: 32px;
}

.faq__aside-span {
  position: relative;
}

.faq__questions {
  display: flex;
  flex-direction: column;
  gap: 33px;

  details {
    display: flex;
    max-width: 1004px;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: translateY(-2px);
    }

    &:nth-child(3n + 1) summary {
      background: linear-gradient(180deg, #ffdada 0%, #fff 100%);
    }

    &:nth-child(3n + 2) summary {
      background: linear-gradient(180deg, #d9f0ff 0%, #fff 100%);
    }

    &:nth-child(3n + 3) summary {
      background: linear-gradient(180deg, #bfebe3 0%, #fff 100%);
    }

    & summary {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      min-height: 106px;
      padding: 0 50px 0 25px;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 37px;
        top: 50%;
        width: 32px;
        height: 3px;
        background: $color-black;
        transform: translateY(-50%);
        transition: 0.4s;
      }

      &::after {
        transform: rotate(90deg);
      }
    }

    p {
      margin: 33px auto 0;
      max-width: 800px;
    }
  }
}

details[open] summary::after {
  transform: rotate(0deg);
  height: 0;
}
details[open] summary ~ * {
  animation: open 0.5s ease-in-out;
}
@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.faq__wave_1 {
  position: absolute;
  top: 5%;
  left: 9%;
}

.faq__wave_2 {
  position: absolute;
  left: 15%;
  bottom: 8%;
}

.faq__spiral {
  position: absolute;
  top: 30%;
  left: 8%;
}

.faq__shell {
  position: absolute;
  right: 0;
  top: 42%;
}

.faq__star_blue {
  position: absolute;

  &:nth-child(6) {
    top: 4%;
    left: 61%;
  }

  &:nth-child(7) {
    top: 33%;
    right: 7%;
  }

  &:nth-child(8) {
    left: 7%;
    bottom: 28%;
  }

  &:nth-child(9) {
    left: 77%;
    bottom: 5%;
  }
}

.faq__star_blue-inner {
  position: absolute;

  &:nth-child(1) {
    top: 17%;
    left: 12%;
  }

  &:nth-child(2) {
    left: 7%;
    bottom: 30%;
  }
}

// Desktop 1440px

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .faq {
    padding: 165px 0 195px;

    &__title {
      margin-top: 35px;

      &::before,
      &::after {
        width: 76px;
      }
    }
  }

  .faq__questions {
    gap: 25px;

    details {
      max-width: 753px;

      summary {
        min-height: 80px;
        padding: 0 40px 0 20px;

        &::before,
        &::after {
          right: 27px;
        }
      }

      p {
        margin: 25px auto 0;
        max-width: 600px;
      }
    }
  }
}

// Tablet 768px

@media all and (min-width: 768px) and (max-width: 1439px) {
  .faq {
    padding: 78px 0 100px;

    &__title {
      margin-top: 15px;

      &::before,
      &::after {
        width: 40px;
      }

      &::before {
        top: -15px;
      }

      &::after {
        bottom: -15px;
      }
    }
  }

  .faq__questions {
    gap: 15px;

    details {
      max-width: 348px;

      summary {
        min-height: 80px;
        padding: 0 40px 0 20px;

        &::before,
        &::after {
          right: 18px;
          width: 15px;
          height: 1px;
        }
      }

      p {
        margin: 20px auto 0;
        max-width: 308px;
      }
    }
  }
}

// Mobile 428px

@media all and (min-width: 428px) and (max-width: 767px) {
  .faq {
    padding: 115px 0;

    &__wrapper {
      flex-direction: column;
      gap: 70px;
    }

    &__title {
      margin-top: 15px;

      &::before,
      &::after {
        width: 40px;
      }

      &::before {
        top: -15px;
      }

      &::after {
        bottom: -15px;
      }
    }
  }

  .faq__questions {
    gap: 15px;

    details {
      max-width: 348px;

      summary {
        min-height: 80px;
        padding: 0 40px 0 20px;

        &::before,
        &::after {
          right: 18px;
          width: 15px;
          height: 1px;
        }
      }

      p {
        margin: 20px auto 0;
        max-width: 308px;
      }
    }
  }

  .faq__wave_2 {
    display: none;
  }
}

// Mobile 320px

@media all and (min-width: 320px) and (max-width: 427px) {
  .faq {
    padding: 85px 0;

    &__wrapper {
      flex-direction: column;
      gap: 50px;
    }

    &__title {
      margin-top: 12px;

      &::before,
      &::after {
        width: 30px;
      }

      &::before {
        top: -12px;
      }

      &::after {
        bottom: -12px;
      }
    }
  }

  .faq__questions {
    gap: 12px;

    details {
      max-width: 260px;

      summary {
        min-height: 60px;
        padding: 0 30px 0 15px;

        &::before,
        &::after {
          right: 12px;
          width: 11px;
          height: 1px;
        }
      }

      p {
        margin: 17px auto 0;
        max-width: 230px;
      }
    }
  }

  .faq__wave_2 {
    display: none;
  }
}
