.faq {
  position: relative;
  padding: 220px 0 260px;
  background-color: $color-white;

  @include lg {
    padding: 165px 0 195px;
  }

  @include md {
    padding: 88px 0 100px;
  }

  @include sm {
    padding: 115px 0 115px;
  }

  @include xs {
    padding: 85px 0 80px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    gap: 100px;

    @include md {
      gap: 100px;
    }

    @include sm {
      flex-direction: column;
      gap: 70px;
    }

    @include xs {
      gap: 50px;
    }
  }

  &__title {
    position: relative;
    height: fit-content;
    margin-top: 35px;

    @include lg {
      margin-top: 35px;
    }

    @include md {
      margin-top: 15px;
    }

    @include sm {
      text-align: start;
    }

    @include xs {
      margin-top: 12px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 101px;
      height: 2px;
      background: $color-black;

      @include lg {
        width: 76px;
      }

      @include md {
        width: 40px;
      }

      @include xs {
        width: 30px;
      }
    }

    &::before {
      top: -35px;

      @include lg {
        top: -15px;
      }

      @include xs {
        top: -12px;
      }
    }

    &::after {
      bottom: -35px;

      @include lg {
        top: 59px;
      }

      @include md {
        top: 40px;
      }

      @include xs {
        top: 33px;
      }
    }
  }

  &__aside {
    left: 1.5%;
  }

  &__aside_en {
    left: 1.4%;

    @include md {
      left: 0.6%;
    }
  }

  &__questions {
    display: flex;
    flex-direction: column;
    gap: 33px;

    @include lg {
      gap: 25px;
    }

    @include md {
      max-width: 400px;
      width: 100%;
      gap: 20px;
    }

    @include xs {
      gap: 17px;
    }

    details {
      display: flex;
      max-width: 1004px;
      transition: 0.2s ease-in-out;

      @include lg {
        max-width: 953px;
      }

      @include md {
        max-width: 348px;
      }

      @include xs {
        max-width: 260px;
      }

      &:hover {
        transform: translateY(-2px);
      }

      &:nth-child(3n + 1) summary {
        background: linear-gradient(180deg, #ffdada 0%, #fff 100%);
      }

      &:nth-child(3n + 2) summary {
        background: linear-gradient(180deg, #d9f0ff 0%, #fff 100%);
      }

      &:nth-child(3n + 3) summary {
        background: linear-gradient(180deg, #bfebe3 0%, #fff 100%);
      }

      & summary {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        min-height: 106px;
        padding: 0 50px 0 25px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);

        @include lg {
          min-height: 80px;
          padding: 0 40px 0 20px;
        }

        @include md {
          min-height: 80px;
          padding: 0 40px 0 20px;
        }

        @include sm {
          min-height: 80px;
          padding: 0 40px 0 20px;
        }

        @include xs {
          min-height: 121px;
          padding: 0 30px 0 15px;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          right: 37px;
          top: 50%;
          width: 32px;
          height: 3px;
          background: $color-black;
          transform: translateY(-50%);
          transition: 0.4s;

          @include lg {
            right: 27px;
          }

          @include md {
            right: 18px;
            width: 15px;
            height: 1px;
          }

          @include sm {
            right: 18px;
            width: 15px;
            height: 1px;
          }

          @include xs {
            right: 12px;
            width: 11px;
            height: 1px;
          }
        }

        &::after {
          transform: rotate(90deg);
        }
      }

      p {
        margin: 33px auto 0;
        max-width: 800px;

        @include lg {
          margin: 25px auto 0;
          max-width: 600px;
        }

        @include md {
          margin: 20px auto 0;
          max-width: 308px;
        }

        @include sm {
          margin: 20px auto 0;
          max-width: 308px;
        }

        @include xs {
          margin: 17px auto 0;
          max-width: 230px;
        }
      }
    }
  }

  &__wave_1 {
    position: absolute;
    top: 5%;
    left: 9%;

    @include lg {
      top: 6%;
    }

    @include md {
      top: 3%;
    }

    @include sm {
      top: 5%;
      left: 5%;
    }

    @include xs {
      top: 3%;
      left: 5%;
    }
  }

  &__wave_2 {
    position: absolute;
    left: 21%;
    bottom: 6%;

    @include lg {
      bottom: 5%;
    }

    @include md {
      left: 21%;
      bottom: 4%;
    }

    @include sm {
      display: none;
    }
  }

  &__spiral {
    position: absolute;
    top: 30%;
    left: 8%;

    @include md {
      top: 17%;
      left: 8%;
    }

    @include sm {
      top: 6%;
      left: 68%;
    }

    @include xs {
      top: 4%;
      left: 70%;
    }
  }

  &__shell {
    position: absolute;
    right: 0;
    top: 42%;

    @include md {
      right: 0;
      top: 27%;
    }

    @include sm {
      display: none;
    }
  }

  &__star_blue-1 {
    position: absolute;
    top: 4%;
    left: 61%;

    @include md {
      top: 2%;
    }

    @include sm {
      top: 3%;
      left: 55%;
    }

    @include xs {
      top: 2%;
    }
  }

  &__star_blue-2 {
    position: absolute;
    top: 33%;
    left: 92%;

    @include md {
      top: 20%;
    }

    @include sm {
      display: none;
    }
  }

  &__star_blue-3 {
    position: absolute;
    top: 92%;
    left: 76%;

    @include md {
      top: 96%;
      left: 86%;
    }

    @include sm {
      display: none;
    }
  }

  &__star_blue-4 {
    position: absolute;
    top: 70%;
    left: 8%;

    @include md {
      top: 64%;
      left: 12%;
    }

    @include sm {
      display: none;
    }
  }

  &__star_blue-5 {
    position: absolute;
    top: 55%;
    left: 18%;

    @include md {
      top: 33%;
      left: 23%;
    }

    @include sm {
      display: none;
    }
  }

  &__star_blue-6 {
    position: absolute;
    top: 20%;
    left: 13%;

    @include md {
      top: 9%;
      left: 11%;
    }

    @include sm {
      display: none;
    }
  }

  &__questions-summary {
    @include md {
      font-size: 12px;
    }

    @include sm {
      font-size: 13px;
    }
  }

  &__answers {
    @include md {
      font-size: 11px;
    }

    @include sm {
      font-size: 12px;
    }
  }
}

details[open] summary::after {
  transform: rotate(0deg);
  height: 0;
}
details[open] summary ~ * {
  animation: open 0.5s ease-in-out;
}
@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
