.help {
  position: relative;
  padding: 150px 0 260px;

  @include lg {
    padding: 165px 0 195px;
  }

  @include md {
    padding: 84px 0 100px;
  }

  @include sm {
    padding: 62px 0 115px;
  }

  @include xs {
    padding: 46px 0 80px;
  }

  &__title {
    text-align: center;
    margin-bottom: 70px;
    @include title-line;

    @include lg {
      margin-bottom: 53px;
    }

    @include md {
      margin-bottom: 30px;
    }

    @include xs {
      margin-bottom: 23px;
    }
  }

  &__subtitle {
    margin: 0 auto;
    text-align: center;

    &:nth-of-type(1) {
      max-width: 613px;

      @include lg {
        max-width: 460px;
      }

      @include md {
        max-width: 368px;
      }

      @include sm {
        max-width: 100%;
        margin-bottom: 10px;
      }
    }

    &:nth-of-type(2) {
      max-width: 800px;
      margin-bottom: 68px;

      @include lg {
        max-width: 600px;
        margin-bottom: 51px;
      }

      @include md {
        max-width: 372px;
        margin-bottom: 50px;
      }

      @include sm {
        max-width: 100%;
        margin-bottom: 52px;
      }

      @include xs {
        margin-bottom: 53px;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-blue;
    max-width: 667px;
    width: 100%;
    margin: 0 auto;

    @include lg {
      max-width: 500px;
    }

    @include md {
      max-width: 347px;
    }

    @include sm {
      max-width: 100%;
    }

    &:hover {
      background: $color-bluelight;
      @include btn-hover;
    }

    &:focus {
      @include btn-focus($color-blue);
    }
  }

  &__aside {
    left: -2px;

    @include md {
      left: -21px;
    }
  }

  &__star_1 {
    position: absolute;
    top: -19%;
    left: 9%;

    @include md {
      display: none;
    }
  }

  &__star_7 {
    display: none;
    position: absolute;
    top: 18%;
    left: 12%;

    @include md {
      display: block;
    }

    @include sm {
      display: none;
    }
  }

  &__star_2 {
    position: absolute;
    top: -10%;
    left: 30%;

    @include md {
      display: none;
    }
  }

  &__star_8 {
    display: none;
    position: absolute;
    top: 3%;
    left: 31%;

    @include md {
      display: block;
    }

    @include sm {
      display: none;
    }
  }

  &__star_3 {
    position: absolute;
    top: -18%;
    left: 88%;

    @include md {
      display: none;
    }
  }

  &__star_9 {
    display: none;
    position: absolute;
    top: 13%;
    left: 87%;
    @include md {
      display: block;
    }

    @include sm {
      display: none;
    }
  }

  &__star_4 {
    position: absolute;
    top: 34%;
    left: 15%;

    @include md {
      display: none;
    }
  }

  &__star_10 {
    display: none;
    position: absolute;
    top: 75%;
    left: 17%;

    @include md {
      display: block;
    }

    @include sm {
      display: none;
    }
  }

  &__star_5 {
    position: absolute;
    top: 65%;
    left: 60%;

    @include md {
      display: none;
    }
  }

  &__star_11 {
    display: none;
    position: absolute;
    top: 69%;
    left: 87%;

    @include md {
      display: block;
    }

    @include sm {
      display: none;
    }
  }

  &__star_6 {
    position: absolute;
    top: 47%;
    left: 88%;

    @include md {
      display: none;
    }
  }

  &__star_12 {
    display: none;
    position: absolute;
    top: 93%;
    left: 65%;

    @include md {
      display: block;
    }

    @include sm {
      display: none;
    }
  }

  &__waves_1 {
    position: absolute;
    top: 3%;
    left: 68%;

    @include md {
      top: 2%;
    }

    @include sm {
      display: none;
    }
  }

  &__waves_2 {
    position: absolute;
    top: 92%;
    left: 20%;

    @include md {
      top: 96%;
      left: 20%;
    }

    @include sm {
      display: none;
    }
  }

  &__spiral {
    position: absolute;
    top: 0%;
    left: 7%;

    @include md {
      top: 2%;
      left: 7%;
    }

    @include sm {
      display: none;
    }
  }

  &__party-star {
    display: inline-block;
    animation: rotate 55s linear infinite;
    position: absolute;
    top: 5%;
    left: 57%;
    z-index: -1;

    @include sm {
      top: 1%;
    }
  }

  &__arrows {
    position: absolute;
    top: 14%;
    left: 75%;

    @include md {
      display: none;
    }
  }

  &__arrows-2 {
    display: none;
    position: absolute;
    top: 74%;
    left: 80%;

    @include md {
      display: block;
    }

    @include sm {
      display: none;
    }
  }
}

.swiper {
  position: relative;
  margin: 98px 0 78px;
  height: 920px;
  padding-bottom: 3rem;

  @include lg {
    margin: 59px 0 74px;
    max-height: 690px;
  }

  @include md {
    margin: 35px 0 26px;
    max-height: 595px;
  }

  @include sm {
    margin: 40px 0 35px;
    max-height: 585px;
  }

  @include xs {
    margin: 33px 0 23px;
    max-height: 540px;
  }

  & .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__picture {
    max-width: 413px;
    width: 100%;
    max-height: 500px;

    @include lg {
      max-width: 310px;
      max-height: 375px;
    }

    @include md {
      max-width: 232.66px;
      max-height: 281.44px;
    }

    @include sm {
      max-width: 232px;
      max-height: 281px;
    }

    @include xs {
      max-width: 211px;
      max-height: 256px;
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    @include h3-line;
    margin-bottom: 25px;

    @include lg {
      margin-bottom: 20px;
    }

    @include md {
      margin-bottom: 15px;
    }

    @include xs {
      margin-bottom: 10px;
    }
  }

  &__text {
    position: absolute;
    bottom: 38px;
    left: 50%;
    transform: translate(-50%);
    max-width: 375px;
    width: 100%;
    max-height: 443px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    z-index: 2;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);

    @include lg {
      bottom: 11px;
      max-width: 276px;
      max-height: 340px;
      gap: 20px;
      padding: 20px;
    }

    @include md {
      bottom: 0;
      max-width: 206.39px;
      max-height: 325px;
      gap: 15px;
      padding: 20px;
    }

    @include sm {
      bottom: 0;
      max-width: 217px;
      max-height: 319px;
      gap: 15px;
      padding: 20px;
    }

    @include xs {
      bottom: -7px;
      max-width: 187px;
      max-height: 325px;
      gap: 15px;
      padding: 15px;
    }

    & hr {
      @include hr(140px, 0);

      @include lg {
        @include hr(130px, 0);
      }

      @include md {
        @include hr(120px, 0);
      }

      @include xs {
        @include hr(110px, 0);
      }
    }

    .inside {
      display: flex;
      flex-direction: column;
    }
  }
}

.swiper-pagination {
  position: absolute;
}

.swiper-pagination-bullet {
  cursor: pointer;
  opacity: 1;
  margin: 0 5px;
  background: $color-blackhover;
  width: 20px;
  height: 20px;

  @include lg {
    width: 15px;
    height: 15px;
  }

  @include md {
    width: 12px;
    height: 12px;
  }

  @include xs {
    width: 10px;
    height: 10px;
  }
}

.swiper-pagination-bullet-active {
  background: $color-blue;
}

.swiper__text-1,
.swiper__text-4,
.swiper__text-7 {
  background: linear-gradient(180deg, #bfebe3 0%, #fff 100%);
}
.swiper__text-2,
.swiper__text-5,
.swiper__text-8 {
  background: linear-gradient(180deg, #ffdada 0%, #fff 100%);
}
.swiper__text-3,
.swiper__text-6 {
  background: linear-gradient(180deg, #d9f0ff 0%, #fff 100%);
}

.lunchbox {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 70px;

  @include md {
    padding: 0 53px;
  }

  @include xs {
    padding: 0 31px;
  }
}

.swiper-button-prev {
  left: 0;
  color: $color-black;
}

.swiper-button-next {
  right: 0;
  color: $color-black;
}
