.numbers {
  position: relative;
  padding: 154px 0px;
  background: linear-gradient(180deg, #d9f0ff 7.29%, #bfebe3 100%);

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 74px;
    color: $color-black;
    z-index: 1;
  }

  &__star {
    position: absolute;
    left: 26%;
    top: -207%;
  }

  &__waves {
    position: absolute;
    right: 25%;
    top: 18%;
  }

  &__circle_left {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__circle_right {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

// Desktop 1440px

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .numbers {
    padding: 150px 0px;
  }

  .numbers__numbers {
    font-size: 64px;
  }
}

// Tablet 768px

@media all and (min-width: 768px) and (max-width: 1439px) {
  .numbers {
    padding: 100px 0px;
  }

  .numbers__numbers {
    font-size: 32px;
  }
}

// Mobile 428px

@media all and (min-width: 428px) and (max-width: 767px) {
  .numbers {
    padding: 80px 0px;
  }

  .numbers__numbers {
    gap: 12px;
    font-size: 22px;
  }
}

// Mobile 320px

@media all and (min-width: 320px) and (max-width: 427px) {
  .numbers {
    padding: 50px 0px;
  }
  .numbers__numbers {
    gap: 8px;
    font-size: 18px;
  }
}
