.numbers {
  position: relative;
  padding: 154px 0px;
  background: linear-gradient(180deg, #d9f0ff 7.29%, #bfebe3 100%);

  @include lg {
    padding: 110px 0px;
  }
  
  @include md {
    padding: 66px 0px;
  }
  
  @include sm {
    padding: 66px 0px;
  }
  
  @include xs {
    padding: 50px 0px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 74px;
    color: $color-black;
    z-index: 1;

    @include lg {
      font-size: 64px;
    }
    
    @include md {
      font-size: 32px;
    }
    
    @include sm {
      gap: 12px;
      font-size: 22px;
    }
    
    @include xs {
      gap: 8px;
      font-size: 18px;
    }
  }

  &__star {
    position: absolute;
    left: 23%;
    top: -193%;

    
    @include md {
      display: none;
    }

    
  }

  &__star-2 {
    display: none;
    position: absolute;
    left: 20%;
    top: 72%;

    
    @include md {
      display: block;
    }
    
    @include sm {
      display: none;
    }
    
  }

  &__waves {
    position: absolute;
    right: 20%;
    top: 18%;
    
    @include sm {
      display: none;
    }
    
  }

  &__circle_left {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__circle_right {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
