.payment {
  position: relative;
  padding: 220px 0 260px;

  hr {
    @include hr(285px, 30px auto 40px);
  }

  &__title {
    text-align: center;
    margin-bottom: 70px;
  @include title-line;
  }

  &__cards {
    margin: 125px 0 125px;
    display: flex;
    justify-content: center;
    gap: 86px;
  }

  &__button {
    display: flex;
    justify-content: center;

    & button {
      max-width: 387px;
      width: 100%;
      background: $color-pinklight;

      &:focus {
        @include btn-focus($color-pinklight);
      }

      &:hover {
        @include btn-hover;
      }
    }
  }
}

.payment__wrapper {
  position: relative;
}

.payment__star-pink1 {
  position: absolute;
  top: -8%;
  left: 10%;
}
.payment__star-pink2 {
  position: absolute;
  top: 77%;
  left: 77%;
}

.payment__wave-blue1 {
  position: absolute;
  top: 17%;
  left: 17%;
}

.payment__wave-blue2 {
  position: absolute;
  top: 107%;
  left: 58%;
}

.payment__spiral {
  position: absolute;
  display: inline-block;
  animation: rotate 20s linear infinite;
  top: 10%;
  left: 80%;
}

.payment__star-blue {
  position: absolute;
  top: -225%;
  left: 98%;
}

.payment__dawn {
  position: absolute;
  display: inline-block;
  animation: rotate 20s linear infinite;
  top: 48%;
  left: 0%;
}

.payment__aside {
  position: absolute;
  left: 1px;
}

.payment__aside-span {
  position: relative;
}

.payment__card {
  max-width: 310px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 30px 30px 70px 35px;
  transition: 0.4s ease;
  z-index: 1;

  &:hover {
    transform: translateY(-4px);
  }

  &:nth-child(1) {
    background: linear-gradient(180deg, #ffdada 0%, #fff 100%);
  }

  &:nth-child(2) {
    background: linear-gradient(180deg, #d9f0ff 0%, #fff 100%);
  }

  &:nth-child(3) {
    background: linear-gradient(180deg, #bfebe3 0%, #fff 100%);
  }

  object {
    width: 53.83px;
    height: 42.5px;
  }

  h3 {
    white-space: nowrap;
  }

  hr {
    @include hr(45px, 0);
    width: 100%;
  }

  p {
    max-width: 228px;
  }
}


