.payment {
  position: relative;
  padding: 220px 0 260px;
  background-color: $color-white;

  @include lg {
    padding: 165px 0 195px;
  }

  @include md {
    padding: 88px 0 100px;
  }

  @include sm {
    padding: 115px 0 115px;
  }

  @include xs {
    padding: 85px 0 80px;
  }

  &__title {
    text-align: center;
    margin-bottom: 70px;
    @include title-line;
  }

  &__cards {
    margin: 162px 0 125px;
    display: flex;
    justify-content: center;
    gap: 86px;

    @include lg {
      margin: 100px 0 80px;
      gap: 76px;
    }

    @include md {
      margin: 50px 0 70px;
      gap: 18px;
      justify-content: space-around;
    }

    @include sm {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      margin: 73px 0 77px;
    }

    @include xs {
      margin: 45px 0 70px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    & button {
      max-width: 600px;
      width: 100%;
      background: $color-pinklight;

      @include lg {
      }

      @include md {
        max-width: 347px;
      }

      @include sm {
      }

      @include xs {
      }

      &:focus {
        @include btn-focus($color-pinklight);
      }

      &:hover {
        background: $color-pinkdark;
        @include btn-hover;
      }
    }
  }

  &__button_en {
    display: flex;
    justify-content: center;

    & button {
      max-width: 600px;
      width: 100%;
      background: $color-pinklight;

      @include lg {
      }

      @include md {
      }

      @include sm {
      }

      @include xs {
      }

      &:focus {
        @include btn-focus($color-pinklight);
      }

      &:hover {
        background: $color-pinkdark;
        @include btn-hover;
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  &__star-pink1 {
    position: absolute;
    top: -8%;
    left: 10%;

    @include sm {
      display: none;
    }
  }
  &__star-pink2 {
    position: absolute;
    top: 77%;
    left: 77%;

    @include sm {
      display: none;
    }
  }

  &__wave-blue1 {
    position: absolute;
    top: 16%;
    left: 17%;

    @include md {
      top: 11%;
      left: 10%;
    }

    @include sm {
      display: none;
    }
  }

  &__wave-blue2 {
    position: absolute;
    top: 107%;
    left: 58%;

    @include sm {
      display: none;
    }
  }

  &__spiral {
    position: absolute;
    animation: rotate 20s linear infinite;
    top: 10%;
    left: 80%;

    @include md {
      top: 8%;
      left: 86%;
    }
  }

  &__star-blue {
    position: absolute;
    top: -225%;
    left: 98%;

    @include sm {
      display: none;
    }
  }

  &__dawn {
    position: absolute;
    animation: rotate 20s linear infinite;
    top: 52%;
    left: -2%;

    @include md {
      top: 62%;
      left: -3%;
    }

    @include sm {
      top: 4%;
      left: 63%;
      animation: none;
    }
  }

  &__aside {
    left: 0;

    @include md {
      left: -1%;
    }
  }

  &__aside_en {
    left: -0.6%;

    @include md {
      left: -2.3%;
    }
  }

  &__card {
    max-height: 400px;
    height: 100%;
    max-width: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 30px 30px 70px 35px;
    transition: 0.4s ease;
    z-index: 1;

    @include lg {
      max-width: 225px;
      max-height: 311px;
      gap: 20px;
      padding: 30px 20px 25px 20px;
    }

    @include md {
      max-width: 182px;
      height: 276px;
      gap: 15px;
      padding: 25px 15px 20px 15px;
    }

    @include sm {
      max-width: 190px;
      height: 238px;
      gap: 15px;
      padding: 25px 15px 20px 15px;
    }

    &:hover {
      transform: translateY(-4px);
    }

    &:nth-child(1) {
      background: linear-gradient(180deg, #ffdada 0%, #fff 100%);
    }

    &:nth-child(2) {
      background: linear-gradient(180deg, #d9f0ff 0%, #fff 100%);
    }

    &:nth-child(3) {
      background: linear-gradient(180deg, #bfebe3 0%, #fff 100%);
    }

    object {
      width: 53.83px;
      height: 42.5px;
    }

    h3 {
      white-space: nowrap;
    }

    hr {
      @include hr(90px, 0);

      @include lg {
        @include hr(92px, 0);
      }

      @include md {
        @include hr(60px, 0);
      }

      @include xs {
        @include hr(45px, 0);
      }
    }
  }

  &__card_en {
    max-height: 400px;
    height: 100%;
    max-width: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 30px 30px 70px 35px;
    transition: 0.4s ease;
    z-index: 1;

    @include lg {
      max-width: 225px;
      max-height: 311px;
      gap: 20px;
      padding: 30px 20px 25px 20px;
    }

    @include md {
      max-width: 182px;
      height: 276px;
      gap: 15px;
      padding: 25px 15px 20px 15px;
    }

    @include sm {
      max-width: 190px;
      height: 256px;
      gap: 15px;
      padding: 25px 15px 20px 15px;
    }

    &:hover {
      transform: translateY(-4px);
    }

    &:nth-child(1) {
      background: linear-gradient(180deg, #ffdada 0%, #fff 100%);
    }

    &:nth-child(2) {
      background: linear-gradient(180deg, #d9f0ff 0%, #fff 100%);
    }

    &:nth-child(3) {
      background: linear-gradient(180deg, #bfebe3 0%, #fff 100%);
    }

    object {
      width: 53.83px;
      height: 42.5px;
    }

    h3 {
      white-space: nowrap;
    }

    hr {
      @include hr(90px, 0);

      @include lg {
        @include hr(92px, 0);
      }

      @include md {
        @include hr(60px, 0);
      }

      @include xs {
        @include hr(45px, 0);
      }
    }
  }

}
