.presents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 220px 0 260px;
  
  @include lg {
    padding: 165px 0 195px;
  }
  
  @include md {
    padding: 88px 0 100px;
  }
  
  @include sm {
    padding: 115px 0 115px;
  }
  
  @include xs {
    padding: 85px 0 80px;
  }


&__aside {
  left: -2px;

  @include lg {

  }
  
  @include md {
  
  }
}

&__wrapper {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
}

&__title {
  text-align: center;
}

&__title-hr {
  @include hr(285px, 33px auto 160px);

  @include lg {
    @include hr(214px, 23px auto 120px);
  }
  
  @include md {
    @include hr(114px, 13px auto 50px);
  }
 
  @include xs {
    @include hr(85px, 11px auto 35px);
  }
}

&__guide-block {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 170px;
  max-width: 1286px;
  width: 100%;

  @include lg {
    margin-bottom: 170px;
    max-width: 1286px;
  }
  
  @include md {
    margin-bottom: 170px;
    max-width: 1286px;
  }
  
  @include sm {
    margin-bottom: 170px;
    max-width: 1286px;
  }
  
  @include xs {
    margin-bottom: 170px;
    max-width: 1286px;
  }
}

&__text-block {
  display: flex;

  @include sm {
    flex-direction: column
  }
}

&__marker-box {
  max-width: 100px;
  width: 100%;
  height: 320px;

  @include lg {
    max-width: 100px;
    height: 320px;
  }
  
  @include md {
    max-width: 100px;
    height: 320px;
  }
  
  @include sm {
    max-width: 100px;
    height: 320px;
  }
  
  @include xs {
    max-width: 100px;
    height: 320px;
  }
}

&__marker_blue {
  max-width: 40px;
  max-height: 320px;
  height: 100%;
  background-color: $color-bluelight;
}

&__guide-texts {
  max-width: 960px;
  width: 100%;
}

&__guide-text {
  padding-right: 104px;
}

&__guide-hr {
  @include hr(130px, 30px 0 40px);
}

&__guide-button {
  max-width: 386px;
  width: 100%;
  background-color: $color-pinkdark;

  &:focus {
    @include btn-focus($color-pinkdark);
  }

  &:hover {
    background-color: $color-pinklight;
    @include btn-hover;
  }
}

&__webinar-block {
  display: flex;
  position: relative;
  max-width: 1262px;
  width: 100%;

  @include lg {

  }
  
  @include md {
    flex-direction: column;
  }
  
  @include sm {
  
  }
  
  @include xs {
  
  }
  
}

&__webinar-card {
  max-width: 644px;
  width: 100%;
  background: linear-gradient(180deg, #bfebe3 0%, #d9f0ff 100%);
  padding: 40px 30px 50px 30px;

  @include lg {
    max-width: 500.75px;
    padding: 40px 30px 50px 30px;
    
  }
  
  @include md {
    max-width: 348px;
    padding: 40px 30px 50px 30px;
    
  }
  
  @include sm {
    max-width: 348px;
    padding: 40px 30px 50px 30px;
    
  }
  
  @include xs {
    max-width: 260px;
    padding: 40px 30px 50px 30px;
    
  }
}

&__video {
  position: absolute;
  top: 57px;
  left: 600px;
  max-width: 669px;
  z-index: 2;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);

  @include lg {
    max-width: 500.75px;
    top: 57px;
    left: 0;
  }
  
  @include md {
    max-width: 348px;
    top: 57px;
    left: 0;
  }
  
  @include sm {
    max-width: 348px;
    top: 57px;
    left: 0;
  }
  
  @include xs {
    max-width: 260px;
    top: 57px;
    left: 0;
  }
}

&__webinar-hr {
  @include hr(90px, 30px 0 30px);
}

&__webinar-text {
  max-width: 538px;
  width: 100%;
}

&__video::-webkit-media-controls-panel {
  background-image: linear-gradient(to bottom, #00000000, #e39898);
}

&__star-1_pink {
  position: absolute;
  top: -110%;
  left: 24%;
}

&__star-2_pink {
  position: absolute;
  top: -50%;
  left: 75%;
}

&__star-3_pink {
  position: absolute;
  top: 20%;
  left: 110%;
}

&__star-4_pink {
  position: absolute;
  top: 132%;
  left: 84%;
}

&__star-5_pink {
  position: absolute;
  top: 120%;
  left: 22%;
}

&__star-1_blue {
  position: absolute;
  top: 25%;
  left: -8%;
}

&__star-6_pink {
  position: absolute;
  top: 110%;
  left: 40%;
}

&__star-2_blue {
  position: absolute;
  top: 22%;
  left: -15%;
}

&__star-3_blue {
  position: absolute;
  top: 82%;
  left: 105%;
}

&__star-4_blue {
  position: absolute;
  top: 135%;
  left: 85%;
}

&__arrows {
  position: absolute;
  top: -9%;
  left: 15%;
}

&__spiral_blue {
  position: absolute;
  top: -7%;
  right: 0;
}

&__wave_pink {
  position: absolute;
  top: 115%;
  left: 50%;
}

&__wave_blue {
  position: absolute;
  top: 111%;
  left: 10%;
}

&__spiral_pink {
  position: absolute;
  left: 0;
  top: 7%;
}
&__dawn {
  position: absolute;
  top: 46%;
  right: 0;
}
}

// // Desktop 1440px

// @media all and (min-width: 1440px) and (max-width: 1919px) {
// }

// // Tablet 768px

// @media all and (min-width: 768px) and (max-width: 1439px) {
// }

// // Mobile 428px

// @media all and (min-width: 428px) and (max-width: 767px) {
//   &__dawn {
//     display: none;
//   }
// }

// // Mobile 320px

// @media all and (min-width: 320px) and (max-width: 427px) {
//   &__dawn {
//     display: none;
//   }
// }
