.registration {
  position: relative;
  padding: 220px 0 260px;
  background: linear-gradient(180deg, #d9f0ff 0%, #bfebe3 50.52%);

  @include lg {
    padding: 165px 0 195px;
  }

  @include md {
    padding: 84px 0 100px;
  }

  @include sm {
    padding: 115px 0 115px;
  }

  @include xs {
    padding: 85px 0 80px;
  }

  &__aside {
    left: 0;

    @include md {
      left: -1%;
    }
  }

  &__aside_en {
    left: -2.3%;

    @include md {
      left: -5%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__title {
    @include title-line;
    margin-bottom: 100px;

    @include lg {
      margin-bottom: 80px;
    }

    @include md {
      margin-bottom: 60px;
    }

    @include sm {
      margin-bottom: 55px;
    }

    @include xs {
      margin-bottom: 69px;
    }
  }

  &__row {
    position: relative;
  }

  &__message {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include lg {
      gap: 8px;
    }

    @include md {
      gap: 5px;
    }

    @include xs {
      gap: 2px;
    }

    label {
      color: $color-black;
      font-size: 21px;
      font-weight: 500;
      line-height: 26px;

      @include lg {
        font-size: 18px;
      }

      @include md {
        font-size: 14px;
      }

      @include xs {
        font-size: 13px;
      }
    }

    textarea {
      border: none;
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      color: $color-black;
      padding: 20px;

      @include lg {
        font-size: 14px;
        padding: 18px;
      }

      @include md {
        font-size: 13px;
        padding: 15px;
      }

      @include xs {
        font-size: 13px;
        padding: 12px;
      }

      &::placeholder {
        color: $color-blackhover;

        @extend %paragraph-large;
      }
    }
  }

  &__terms {
    display: flex;
    flex-direction: column;
    gap: 27px;

    @include lg {
      gap: 22px;
    }

    @include md {
      gap: 18px;
    }

    @include xs {
      gap: 15px;
    }
  }

  &__terms-group {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

    &:first-child {
      margin-bottom: 12px;
    }

    label {
      font-size: 18px;

      @include lg {
        font-size: 15px;
      }

      @include md {
        font-size: 12px;
      }

      @include xs {
        font-size: 11px;
      }
    }
  }

  &__button {
    width: 600px;
    background-color: $color-pinkdark;
    align-self: center;
    margin-top: 72px;

    @include lg {
      width: 500px;
      margin-top: 54px;
    }

    @include md {
      width: 348px;
      margin-top: 50px;
    }

    @include xs {
      width: 260px;
      margin-top: 32.5px;
    }

    &:hover {
      background-color: $color-pinklight;
      
      @include btn-hover;
    }

    &:focus {
      @include btn-focus($color-pinkdark);
    }

    &:disabled {
      background-color: $color-pinklight;
    }
  }

  &__circle-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__circle-right {
    position: absolute;
    bottom: 0;
    right: 0;

    @include sm {
      display: none;
    }
  }

  &__wave {
    position: absolute;
    top: -8%;
    left: 11%;

    @include md {
      top: -5%;
      left: 11%;
    }

    @include sm {
      display: none;
    }
  }

  &__star1 {
    position: absolute;
    top: 8%;
    left: 74%;

    @include sm {
      top: 9%;
      left: 84%;
    }

    @include xs {
      top: 8%;
      left: 84%;
    }
  }

  &__star2 {
    position: absolute;
    top: 69%;
    left: 84%;

    @include md {
      top: 62%;
      left: 80%;
    }

    @include sm {
      display: none;
    }
  }

  &__star3 {
    position: absolute;
    top: 105%;
    left: 76%;

    @include md {
      top: 103%;
      left: 76%;
    }

    @include sm {
      display: none;
    }
  }

  &__star4 {
    position: absolute;
    top: 90%;
    left: 22%;
    
    @include md {
      top: 60%;
      left: 16%;
    }

    @include sm {
      display: none;
    }
  }

  &__star5 {
    position: absolute;
    top: 18%;
    left: 8%;

    @include sm {
      display: none;
    }
  }

  &__dawn {
    position: absolute;
    animation: rotate 40s linear infinite;
    top: 50%;
    left: 0%;

    @include md {
      top: 30%;
      left: 4%;
    }

    @include sm {
      display: none;
    }
  }

  &__spiral {
    position: absolute;
    top: 8%;
    left: 90%;

    @include sm {
      display: none;
    }
  }
}

//  FORM

.input {
  width: 100%;
  height: 90px;
  background: none;
  color: $color-black;
  border: none;
  outline: none;
  font-size: 21px;
  font-weight: 500;
  border-bottom: 1px solid $color-black;
  transition: all 0.5s ease;

  @include lg {
    height: 68px;
    font-size: 18px;
  }

  @include md {
    height: 50px;
    font-size: 14px;
  }

  @include xs {
    font-size: 13px;
    height: 43px;
  }
}

.input::placeholder {
  font-size: 21px;

  @include lg {
    font-size: 18px;
  }

  @include md {
    font-size: 14px;
  }

  @include xs {
    font-size: 13px;
  }
}

.input-checkmark {
  position: absolute;
  top: 22px;

  @include lg {
    top: 22px;
  }

  @include md {
    top: 22px;
  }

  @include sm {
    top: 22px;
  }

  @include xs {
    top: 22px;
  }
}

.input-checkmark-name {
  left: 325px;

  @include lg {
    left: 47%;
    top: 30%;
  }

  @include md {
    left: 47%;
  }

  @include sm {
    left: 68%;
  }

  @include xs {
    left: 80%;
  }
}

.input-checkmark-name_en {
  left: 32%;

  @include lg {
    left: 37%;
    top: 30%;
  }

  @include md {
    left: 55%;
  }

  @include xs {
    left: 63%;
  }
}

.input-checkmark-email {
  left: 232px;

  @include lg {
    left: 33%;
    top: 30%;
  }

  @include md {
    left: 49%;
  }

  @include xs {
    left: 57%;
  }
}

.input-checkmark-email_en {
  left: 20.5%;

  @include lg {
    left: 24%;
    top: 30%;
  }

  @include md {
    left: 35%;
  }

  @include xs {
    left: 41%;
  }
}

.check {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: $color-black;
}

.checkmark {
  color: #fb7070;
  font-weight: 900;
  font-size: 16px;

  @include sm {
    font-size: 13px;
  }

  @include xs {
    font-size: 11px;
  }
}

.input-after {
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 85%;
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 21px;
  font-weight: 500;
  color: $color-blackhover;

  @include lg {
    font-size: 18px;
  }

  @include md {
    font-size: 14px;
  }

  @include xs {
    font-size: 13px;
  }
}

/* slide effects */
.input ~ .input-after {
  bottom: 40%;
  scale: 0.95;
}

.input:not(:placeholder-shown) ~ .input-after {
  visibility: visible;
  opacity: 1;
  bottom: 80%;
}

.input:not(:placeholder-shown) ~ .input-checkmark {
  visibility: hidden;
}

.error {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #fb7070;

  @include lg {
    font-size: 15px;
  }

  @include md {
    font-size: 13px;
  }

  @include xs {
    font-size: 11px;
  }
}

#errorUserName,
#errorEmail {
  position: absolute;
  left: 1%;
  top: 105%;
}
#errorAge,
#errorPrivacy {
  position: absolute;
  top: 110%;
  left: 7%;

  @include lg {
    left: 9%;
  }

  @include md {
    left: 16%;
  }

  @include sm {
    left: 16%;
  }

  @include xs {
    left: 19%;
  }
}

input[type="checkbox"] {
  accent-color: $color-pinkdark;
  width: 30px;
  height: 30px;

  @include lg {
    width: 25px;
    height: 25px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include lg {
    gap: 35px;
    max-width: 600px;
  }

  @include md {
    gap: 32px;
    max-width: 320px;
  }

  @include xs {
    gap: 35px;
    max-width: 257px;
  }
}
