.registration {
  position: relative;
  padding: 220px 0 260px;
  background: linear-gradient(180deg, #d9f0ff 0%, #bfebe3 50.52%);

  &__aside {
    position: absolute;
    left: 2px;
  }

  &__aside-span {
    position: relative;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__title {
    text-align: center;
  }

  &__title-hr {
    @include hr(285px, 30px auto 40px);
  }
}

//  FORM
.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.registration__row {
  position: relative;
}

.input {
  width: 100%;
  height: 73px;
  background: none;
  color: $color-black;
  border: none;
  outline: none;
  font-size: 21px;
  font-weight: 500;
  border-bottom: 2px solid $color-black;
  transition: all 0.5s ease;
}

.input::placeholder {
  @extend %paragraph-large;
}

.input-checkmark {
  position: absolute;
  top: 22px;
}

.input-checkmark-name {
  left: 325px;
}

.input-checkmark-email {
  left: 232px;
}

.check {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: $color-black;
}

.checkmark {
  color: #fb7070;
  font-weight: 900;
  font-size: 16px;
}

.input-after {
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 85%;
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 21px;
  font-weight: 500;
  color: $color-blackhover;
}

/* slide effects */
.input ~ .input-after {
  bottom: 40%;
  scale: 0.95;
}

.input:not(:placeholder-shown) ~ .input-after {
  visibility: visible;
  opacity: 1;
  bottom: 80%;
  // scale: 0.9;
}

.input:not(:placeholder-shown) ~ .input-checkmark {
  visibility: hidden;
}

.terms {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.registration__message {
  display: flex;
  flex-direction: column;
  gap: 15px;

  label {
    color: $color-black;
    font-size: 21px;
    font-weight: 500;
    line-height: 26px;
  }

  textarea {
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: $color-black;
    padding: 20px;

    &::placeholder {
      color: $color-blackhover;

      @extend %paragraph-large;
    }
  }
}

.registration__terms {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.registration__terms-group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  &:first-child {
    margin-bottom: 12px;
  }

  label {
    font-size: 18px;
  }
}

.registration__button {
  width: 400px;
  background-color: $color-pinkdark;
  align-self: center;
  margin-top: 32px;
  &:hover {
    background-color: $color-pinklight;
    &:hover {
      @include btn-hover;
    }
  }
  &:focus {
    @include btn-focus($color-pinkdark);
  }
  &:disabled {
    background-color: $color-pinklight;
  }
}

.error {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #fb7070;
}

#errorUserName,
#errorEmail {
  position: absolute;
  left: 1%;
  top: 105%;
}
#errorAge,
#errorPrivacy {
  position: absolute;
  top: 110%;
  left: 7%;
}

input[type="checkbox"] {
  accent-color: $color-pinkdark;
  width: 30px;
  height: 30px;
}

.registration__circle-left {
  position: absolute;
  top: 0;
  left: 0;
}

.registration__circle-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.registration__wave {
  position: absolute;
  top: -8%;
  left: 11%;
}

.registration__star1 {
  position: absolute;
  top: 8%;
  left: 74%;
}

.registration__star2 {
  position: absolute;
  top: 69%;
  left: 84%;
}

.registration__star3 {
  position: absolute;
  top: 105%;
  left: 76%;
}

.registration__star4 {
  position: absolute;
  top: 90%;
  left: 26%;
}

.registration__star5 {
  position: absolute;
  top: 18%;
  left: 8%;
}

.registration__dawn {
  position: absolute;
  animation: rotate 40s linear infinite;
  top: 50%;
  left: 0%;
}

.registration__spiral {
  position: absolute;
  top: 8%;
  left: 90%;
}

// Desktop 1440px

@media all and (min-width: 1440px) and (max-width: 1919px) {
}

// Tablet 768px

@media all and (min-width: 768px) and (max-width: 1439px) {
}

// Mobile 428px

@media all and (min-width: 428px) and (max-width: 767px) {
  .registration__circle-right {
    display: none;
  }
}

// Mobile 320px

@media all and (min-width: 320px) and (max-width: 427px) {
  .registration__circle-right {
    display: none;
  }
}
