.words {
  position: relative;
  padding: 118px 0;
  background: linear-gradient(180deg, #d9f0ff 7.29%, #ffdada 100%);
}

.words__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.words__p {
  max-width: 800px;
  color: $color-black;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.1em;
}

.words__circle_left {
  position: absolute;
  left: 0;
  top: 0;
}

.words__circle_right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.words__star-blue {
  position: absolute;
  top: 65%;
  left: 10%;
}

.words__star-pink {
  position: absolute;
  top: -30%;
  right: 15%;
}

.words__wave-blue {
  position: absolute;
  top: 120%;
  left: 20%;
}

// Desktop 1440px

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .words {
    padding: 90px 0;
  }

  .words__wrapper {
    gap: 28px;
  }

  .words__p {
    max-width: 600px;
    font-size: 18px;
    letter-spacing: 1.8px;
  }
}

// Tablet 768px

@media all and (min-width: 768px) and (max-width: 1439px) {
  .words {
    padding: 70px 0;
  }

  .words__wrapper {
    gap: 20px;
  }

  .words__p {
    max-width: 360px;
    font-size: 11px;
    letter-spacing: 1.1px;
  }
}

// Mobile 428px

@media all and (min-width: 428px) and (max-width: 767px) {
  .words {
    padding: 70px 0;
  }

  .words__wrapper {
    gap: 20px;
  }

  .words__p {
    max-width: 320px;
    font-size: 11px;
    letter-spacing: 1.1px;
  }
}
// Mobile 320px

@media all and (min-width: 320px) and (max-width: 427px) {
  .words {
    padding: 35px 0;
  }

  .words__wrapper {
    gap: 20px;
  }

  .words__p {
    max-width: 239px;
    font-size: 9px;
    letter-spacing: 0.9px;
  }
}
