* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  font-family: var(--font-main);
  // overflow: auto;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
