* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: var(--font-main);
  overflow-x: hidden;
  background-color: lightblue;

  &._lock {
    overflow: hidden;
  }

}



@keyframes rotate {
  to {
    transform: rotate(360deg);
  }

}

