@import '../mixins.scss';

.desktop-br_1920 {
    display: block;

    @include lg {
      display: none;
    }
  }

  .desktop-br_1440 {
    display: none;

    @include lg {
      display: block;
    }

    @include md {
      display: none;
    }
  }

  .mobile-br_768 {
    display: none;

    @include md {
      display: block;
    }

    @include sm {
      display: none;
    }
  }

  .mobile-br_428 {
    display: none;

    @include lg {
        display: none;
      }

    @include md {
        display: none;
      }

    @include sm {
      display: block;
    }

    @include xs {
      display: none;
    }
  }

  .mobile-br_320 {
    display: none;

    @include xs {
      display: block;
    }
  }