@include md {
  .menu {
    &__icon {
      display: block;
      position: relative;
      width: 34px;
      height: 24px;
      z-index: 5;
      cursor: pointer;

      span,
      &::before,
      &::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;

        transition: all 0.3s ease 0s;
        background-color: $color-black;
      }

      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }

      &._active span {
        transform: scale(0) translate(0px, -50%);
      }

      &._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }

      &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
      }
    }

    &__body {
      position: fixed;
      top: 0;
      left: -120%;
      width: 70%;
      height: 100%;
      background-color: #fefefef3;
      transition: left 0.3s ease 0s;
      overflow: auto;
    }

    &__body._active {
      left: 0;
    }

    &__list {
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;
      padding: 70px;
    }

    &__link:hover {
      color: $color-pinkdark;
    }

    &__sub-link:hover {
      color: $color-pinkdark;
    }
  }
}
