.svg_1920 {
  display: block;

  @include lg {
    display: none;
  }
  
}

.svg_1440 {
  display: none;

  @include lg {
    display: block;
  }
  
  @include md {
    display: none;
  }
  
}

.svg_768 {
  display: none;

  @include lg {
    display: none;
  }
  
  @include md {
    display: block;
  }
  
  @include sm {
    display: none;
  }
  
}

.svg_428 {
  display: none;

  @include sm {
    display: block;
  }
  
  @include xs {
    display: none;
  }
}

.svg_320 {
  display: none;

  @include xs {
    display: block;
  }
}

.star {
  max-width: 67px;
  width: 100%;
  max-height: 67px;
  height: 100%;

  @include lg {
    max-width: 40px;
    max-height: 40px;
  }
  
  @include md {
    max-width: 26.6px;
    max-height: 26.6px;
  }
  
  @include sm {
    max-width: 26px;
    max-height: 26px;
  }
  
  @include xs {
    max-width: 19px;
    max-height: 19px;
  }
}

.big-star {
  max-width: 90px;
  width: 100%;
  max-height: 90px;
  height: 100%;

  @include lg {
    max-width: 68px;
    max-height: 68px;
  }
  
  @include md {
    max-width: 36px;
    max-height: 36px;
  }
  
  @include sm {
    max-width: 36px;
    max-height: 36px;
  }
  
  @include xs {
    max-width: 27px;
    max-height: 27px;
  }
}

.party-star {
  max-width: 360px;
  width: 100%;
  max-height: 360px;
  height: 100%;

  @include lg {
    max-width: 270px;
    max-height: 270px;
  }
  
  @include md {
    max-width: 144px;
    max-height: 144px;
  }
  
  @include sm {
    max-width: 144px;
    max-height: 144px;
  }
  
  @include xs {
    max-width: 108px;
    max-height: 108px;
  }

}

.arrows {
  max-height: 266px;
  width: 100%;
  max-width: 134px;
  height: 100%;

  @include lg {
    max-width: 100px;
    max-height: 200px;
  }
  
  @include md {
    max-width: 53.3px;
    max-height: 106.5px;
  }
    
  @include xs {
    max-width: 40px;
    max-height: 80px;
  }
}



