.footer {
  background: linear-gradient(180deg, #d9f0ff 0%, rgba(217, 240, 255, 0) 100%);

  &__content {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 220px 0 286px;
  }

  &__rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #fff;
    background: $color-black;
    padding: 52px 0 60px;

    p:last-child {
      display: flex;
      align-items: center;
    }
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__card {
  max-width: fit-content;

  hr {
    @include hr(167px, 20px 0 40px);
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      text-decoration: none;
      transition: 0.3s ease;

      &:hover {
        color: $color-blackhover;
      }
    }
  }
}

.footer__wrapper .footer__card:last-child {
  h3 {
    text-align: right;
  }

  hr {
    margin-left: auto;
  }

  nav a {
    text-align: right;
  }
}

.footer__social-icons {
  display: flex;
  gap: 48px;
}

// Desktop 1440px

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .footer {
    &__content {
      padding: 175px 0 155px;
    }
  }

  .footer__card {
    hr {
      @include hr(125px, 16px 0 31px);
    }
  }

  .footer__social-icons {
    gap: 36px;
  }

  .footer__social-icon {
    max-width: 40px;
  }
}

// Tablet 768px

@media all and (min-width: 768px) and (max-width: 1439px) {
  .footer {
    &__content {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 50px;
      padding: 88px 0 70px;
    }
  }

  .footer__wrapper {
    gap: 110px;
  }

  .footer__card {
    hr {
      @include hr(66px, 15px 0 40px);
    }

    nav {
      gap: 40px;
    }
  }

  .footer__card:first-child {
    h3 {
      text-align: center;
    }

    hr {
      margin: 15px auto 40px;
    }
  }

  .footer__wrapper .footer__card:first-child {
    hr {
      margin-left: 0;
    }
  }

  .footer__wrapper .footer__card:last-child {
    h3 {
      text-align: left;
    }

    hr {
      margin-left: 0;
    }

    nav a {
      text-align: left;
    }
  }

  .footer__social-icons {
    gap: 40px;
  }
}

// Mobile 428px

@media all and (min-width: 428px) and (max-width: 767px) {
  .footer {
    &__content {
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 115px 0 51px;
    }
  }

  .footer__wrapper {
    gap: 54px;
  }
}

// Mobile 320px

@media all and (min-width: 320px) and (max-width: 427px) {
  .footer {
    &__content {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 30px;
      padding: 85px 0 42px;
    }
  }

  .footer__card {
    hr {
      @include hr(50px, 10px 0 30px);
    }

    nav {
      gap: 30px;
    }
  }

  .footer__social-icons {
    gap: 30px;
  }
  .footer__social-icon {
    max-width: 30px;
  }
}
