.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100px;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  background: transparent;
  transition: background 0.3s ease-in-out;
}
.header.scrolled {
  background: white;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 25px;
}

.header__container.scrolledHeaderContainer {
  min-height: 12vh;
}

.header__logo img {
  max-width: 86px;
  width: 100%;
  vertical-align: baseline;
  height: 43px;
}

.menu__icon {
  display: none;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 20px;
  & li:nth-child(8) {
    margin-left: 170px;
    cursor: pointer;
  }
  & li:nth-child(9) {
    position: relative;
    margin-left: 13px;
  }
}
.menu__link {
  color: $color-black;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    color: $color-blackhover;
  }
}

.language {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.menu__sub-list {
  width: 50px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0;
  text-align: center;
  transform: translate(0px, -10%);
  transition: all 0.3s ease 0s;
  pointer-events: none;
  z-index: 1000;
}

.menu__sub-link {
  color: $color-black;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  &:hover {
    color: $color-blackhover;
  }
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 20px 0px 0px 0px;

  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid $color-pinkdark;
  cursor: pointer;
}

body._touch .menu__list > li._active .menu__sub-list {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  margin: 10px 0px 0px 0px;
  transform: rotate(-180deg);
}

@media all and (min-width: 1440px) and ( max-width: 1919px ) {
  .header__container {
    padding-top: 20px;
  }
  .header__logo img {
    max-width: 72px;
    width: 100%;
    max-height: 37px;
    height: 100%;
  }

  .menu__link {
    font-size: 16px;
  }
  .menu__list {
    gap: 18px;
  }
  .menu__list li:nth-child(8) {
    margin-left: 98px;
  }
  .menu__button img {
    max-width: 28px;
    width: 100%;
    max-height: 28px;
    height: 100%;
  }
  .language {
    font-size: 14px;
  }

  .menu__list li:nth-child(9) {
    margin-left: 8px;
}
}

@media all and (min-width: 768px) and ( max-width: 1439px ) {
  .header {
    position: static;
  }
  .header__container {
    padding-top: 20px;
  }
  .header__logo img {
    max-width: 39.38px;
    width: 100%;
    max-height: 19.65px;
    height: 100%;
  }

  .menu__link {
    font-size: 10px;
  }
  .menu__list {
    gap: 18px;
  }
  .menu__list li:nth-child(8) {
    margin-left: 8px;
  }
  .menu__button img {
    max-width: 28px;
    width: 100%;
    max-height: 28px;
    height: 100%;
  }
  .language {
    font-size: 10px;
  }

  .menu__list li:nth-child(9) {
    margin-left: 8px;
}
}

@media all and (min-width: 428px) and (max-width: 767px) {
  .header {
    position: static;
  }
}

// Mobile 320px

@media all and (min-width: 320px) and (max-width: 427px) {
  .header {
    position: static;
  }
}