.text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 150%;
color: $color-black;
}

.endnote {
font-family: 'Montserrat';
font-style: italic;
font-weight: 500;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.1em;
color: $color-black;
}

// Desktop 1440px

@media all and (min-width: 1440px) and (max-width: 1919px) {
    .text {
        font-size: 16px;
    }
    .endnote {
        font-size: 14px;
    }
}

// Tablet 768px

@media all and (min-width: 768px) and (max-width: 1439px) {
    .text {
        font-size: 10px;
    }
    .endnote {
        font-size: 10px;
    }
}

// Mobile 428px

@media all and (min-width: 428px) and (max-width: 767px) {
    .text {
        font-size: 10px;
    }
    .endnote {
        font-size: 10px;
    }
}

// Mobile 320px

@media all and (min-width: 320px) and (max-width: 427px) {
    .text {
        font-size: 9px;
    }
    .endnote {
        font-size: 9px;
    }
}