/* Error: The target selector was not found.
 * Use "@extend %h1-title !optional" to avoid this error.
 *     ,
 * 252 |   @extend %h1-title;
 *     |   ^^^^^^^^^^^^^^^^^
 *     '
 *   assets\styles\scss\fonts.scss 252:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %h1-title !optional" to avoid this error.\a     \2577 \a 252 \2502    @extend %h1-title;\d\a     \2502    ^^^^^^^^^^^^^^^^^\a     \2575 \a   assets\\styles\\scss\\fonts.scss 252:3  root stylesheet';
}
